power-automate/BGV_2_Postsignature-A45CA9C0-E4F1-F011-8406-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_11e61"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
              "table": "7b78dcaf-8744-478b-a40f-633ed7becff3"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "recurrence": {
            "frequency": "Minute",
            "interval": 1
          },
          "splitOn": "@triggerOutputs()?['body/value']"
        }
      },
      "actions": {
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['Status/Value']",
                  "Obtained Authorization Form Signature"
                ]
              }
            ]
          },
          "actions": {
            "Compose": {
              "type": "Compose",
              "inputs": "@{concat('/BGV Records/Candidate Files/', triggerBody()?['CandidateID'], '/Authorization/')}\n"
            },
            "Get_files_(properties_only)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                  "table": "d411563f-2b1c-4fa5-90fc-ecc5f50941a1",
                  "$filter": "File_x0020_Type eq 'docx'\n"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Stop_sharing_an_item_or_a_file": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                      "table": "d411563f-2b1c-4fa5-90fc-ecc5f50941a1",
                      "id": "@items('For_each')?['ID']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "UnshareItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {}
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}