flows/power-automate/unpacked/Workflows/BGV_2_Postsignature-A45CA9C0-E4F1-F011-8406-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "8c19755d-0e9c-4680-8d18-783eb9ec56be"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "recurrence": {
            "frequency": "Minute",
            "interval": 1
          },
          "splitOn": "@triggerOutputs()?['body/value']"
        }
      },
      "actions": {
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['Status/Value']",
                  "Obtained Authorization Form Signature"
                ]
              }
            ]
          },
          "actions": {
            "Compose": {
              "type": "Compose",
              "inputs": "@{trim(concat('/PEV Records/Candidate Files/', triggerBody()?['CandidateID'], '/Authorization/'))}"
            },
            "Get_files_(properties_only)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                  "folderPath": "@outputs('Compose')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Get_file_content": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "id": "@items('For_each')?['{Identifier}']",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Compose_Base64_for_Lock": {
                  "type": "Compose",
                  "inputs": "@base64(body('Get_file_content'))",
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  }
                },
                "HTTP_-_Lock_Authorization_Content_Controls": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://bgv-docx-parser-cshnd7aucchwfmfz.southeastasia-01.azurewebsites.net/api/lockauthorizationcontrols?code=EdUBGwVNxjHLv6nv76tBeDedgn2tw8_daPN1JXsnlqG-AzFuW1YdFw%3D%3D",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "fileName": "@{items('For_each')?['{FilenameWithExtension}']}",
                      "docxBase64": "@{outputs('Compose_Base64_for_Lock')}"
                    }
                  },
                  "runAfter": {
                    "Compose_Base64_for_Lock": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Condition_-_Lock_response_valid": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(body('HTTP_-_Lock_Authorization_Content_Controls')?['lockedDocxBase64'])",
                          false
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Update_file_content_with_locked_controls": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "id": "@items('For_each')?['{Identifier}']",
                          "body": "@base64ToBinary(body('HTTP_-_Lock_Authorization_Content_Controls')?['lockedDocxBase64'])"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "UpdateFile",
                          "connectionName": "shared_sharepointonline"
                        }
                      }
                    },
                    "Stop_sharing_an_item_or_a_file": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                          "id": "@items('For_each')?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "UnshareItem",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "Update_file_content_with_locked_controls": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "HTTP_-_Lock_Authorization_Content_Controls_Retry": {
                        "type": "Http",
                        "inputs": {
                          "uri": "https://bgv-docx-parser-cshnd7aucchwfmfz.southeastasia-01.azurewebsites.net/api/lockauthorizationcontrols?code=EdUBGwVNxjHLv6nv76tBeDedgn2tw8_daPN1JXsnlqG-AzFuW1YdFw%3D%3D",
                          "method": "POST",
                          "headers": {
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "fileName": "@{items('For_each')?['{FilenameWithExtension}']}",
                            "docxBase64": "@{outputs('Compose_Base64_for_Lock')}"
                          }
                        },
                        "runtimeConfiguration": {
                          "contentTransfer": {
                            "transferMode": "Chunked"
                          }
                        }
                      },
                      "Condition_-_Retry_lock_response_valid": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@empty(body('HTTP_-_Lock_Authorization_Content_Controls_Retry')?['lockedDocxBase64'])",
                                false
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Update_file_content_with_locked_controls_Retry": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                                "id": "@items('For_each')?['{Identifier}']",
                                "body": "@base64ToBinary(body('HTTP_-_Lock_Authorization_Content_Controls_Retry')?['lockedDocxBase64'])"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "operationId": "UpdateFile",
                                "connectionName": "shared_sharepointonline"
                              }
                            }
                          },
                          "Stop_sharing_an_item_or_a_file_Retry": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                                "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                                "id": "@items('For_each')?['ID']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "operationId": "UnshareItem",
                                "connectionName": "shared_sharepointonline"
                              }
                            },
                            "runAfter": {
                              "Update_file_content_with_locked_controls_Retry": [
                                "Succeeded"
                              ]
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Compose_-_Lock_authorization_failed_after_retry": {
                              "type": "Compose",
                              "inputs": "LockAuthorizationControls did not return lockedDocxBase64 after retry."
                            }
                          }
                        },
                        "runAfter": {
                          "HTTP_-_Lock_Authorization_Content_Controls_Retry": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_-_Lock_Authorization_Content_Controls": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {}
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
