flows/power-automate/unpacked/Workflows/BGV_4_SendToEmployer_Clean_v2-1E53BF6C-2702-4453-8E6B-8654A265C93C.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Minute",
            "interval": "30",
            "startTime": "2026-02-26T02:00:00Z"
          }
        }
      },
      "actions": {
        "Get_items_(BGV_Requests)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
              "$filter": "VerificationStatus eq 'Not Sent' and HRRequestSentAt eq null"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Initialize_variable_-_AuthFileContent": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable_-_AuthFileName": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileName",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_variable_-_AuthFileContent": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileContent",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_AuthFileName": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each_(Requests_Loop)": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items_(BGV_Requests)')?['body/value']",
          "actions": {
            "Get_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "65747b59-c6b0-4671-ae37-79e35ad84c48",
                  "$filter": "@concat('CandidateID eq ''', string(items('Apply_to_each_(Requests_Loop)')?['CandidateID']), '''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Get_items_(BGV_FormData)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
                  "$filter": "@concat('RequestID eq ''', string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_item": [
                  "Succeeded"
                ]
              }
            },
            "AuthorisationSignedFlag": {
              "type": "Compose",
              "inputs": "@if(empty(body('Get_item')?['value']), 'false', toLower(string(coalesce(first(body('Get_item')?['value'])?['AuthorisationSigned'], false))))",
              "runAfter": {
                "Get_items_(BGV_FormData)": [
                  "Succeeded"
                ]
              }
            },
            "Condition_-_AuthorisationSigned": {
              "type": "If",
              "expression": {
                "equals": [
                  "@outputs('AuthorisationSignedFlag')",
                  "true"
                ]
              },
              "actions": {
                "FinalVerificationLink": {
                  "type": "Compose",
                  "inputs": "@concat('https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u','&r4930fc603c0f4cada09832be79f2a76f=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName'],first(body('Get_item')?['value'])?['FullName'],'')))),'&r27b6bdb850dd48339dc05df11d485470=',encodeUriComponent(if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],'')))),'N/A',trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],''))))),'&r425242341d6143c7a29307136debe938=',encodeUriComponent(if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],'')))),if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport'],first(body('Get_item')?['value'])?['IdentificationNumberPassport'],'')))),'N/A',trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport'],first(body('Get_item')?['value'])?['IdentificationNumberPassport'],'')))),'N/A')),'&rd745d133eb7f4611b59ea051f980f97a=',encodeUriComponent(trim(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']))),'&rccaf3632669648baaa335c12d4ea40bf=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'')))),'&rcf35c7cc008e472f9d0b84bde67cc1ff=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN']))),'&r19aae6e8163d4aaeb8a3f3f2d5329be2=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress']))),'&r2d39255c2449439096683ca0e39241b0=',encodeUriComponent('Yes'),'&r0bef44c0d22d493f95a33484875b951e=',encodeUriComponent(if(and(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),'',if(or(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),formatDateTime(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate']),'yyyy-MM-dd'),concat(formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],'yyyy-MM-dd'),' to ',formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'],'yyyy-MM-dd'))))),'&r513ad5ab3a14453286bdb910820985ec=',encodeUriComponent(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_ReasonForLeaving'],'')),'&ra6ab2e26d2d84a92b33148fc4694773a=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_LastDrawnSalary']))),'&r49ca8a655f5e4bcba0e8f75d4475ad77=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_JobTitle']))),'&rd5d9cb98b1aa47dd8bcd7914cd4bdc87=',encodeUriComponent(concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/BGV%20Records/Candidate%20Files/',encodeUriComponent(coalesce(first(body('Get_item')?['value'])?['CandidateID'],items('Apply_to_each_(Requests_Loop)')?['CandidateID'])),'/',encodeUriComponent(items('Apply_to_each_(Requests_Loop)')?['RequestID']))))",
                  "runAfter": {}
                },
                "AuthFolderPath": {
                  "type": "Compose",
                  "inputs": "@concat( \r\n\r\n  '/BGV Records/Candidate Files/', \r\n\r\n  coalesce(first(body('Get_item')?['value'])?['CandidateID'], items('Apply_to_each_(Requests_Loop)')?['CandidateID']), \r\n\r\n  '/Authorization/' \r\n\r\n) ",
                  "runAfter": {
                    "FinalVerificationLink": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_files_(properties_only)": {
                  "type": "Compose",
                  "inputs": {
                    "body": {
                      "value": []
                    }
                  },
                  "runAfter": {
                    "AuthFolderPath": [
                      "Succeeded"
                    ]
                  }
                },
                "FirstAuthFileIdentifier": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(outputs('Get_files_(properties_only)')?['body/value'])?['{Identifier}'],'')",
                  "runAfter": {
                    "Get_files_(properties_only)": [
                      "Succeeded"
                    ]
                  }
                },
                "FirstAuthFileName": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(outputs('Get_files_(properties_only)')?['body/value'])?['{Name}'],'Authorisation.docx')",
                  "runAfter": {
                    "FirstAuthFileIdentifier": [
                      "Succeeded"
                    ]
                  }
                },
                "Should_Send_Request_Now": {
                  "type": "Compose",
                  "inputs": "@or(not(endsWith(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '-EMP1')),empty(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate']),lessOrEquals(formatDateTime(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate'], 'yyyy-MM-dd'),formatDateTime(utcNow(), 'yyyy-MM-dd')))",
                  "runAfter": {
                    "FirstAuthFileName": [
                      "Succeeded"
                    ]
                  }
                },
                "Can_Send_Request_With_Authorisation": {
                  "type": "Compose",
                  "inputs": "@and(not(equals(outputs('FirstAuthFileIdentifier'), '')), outputs('Should_Send_Request_Now'))",
                  "runAfter": {
                    "Should_Send_Request_Now": [
                      "Succeeded"
                    ]
                  }
                },
                "Condition_-_if_file_exist_": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@outputs('Can_Send_Request_With_Authorisation')",
                      true
                    ]
                  },
                  "actions": {
                    "Get_file_content": {
                      "type": "Compose",
                      "inputs": "@base64('isolation')"
                    },
                    "Set_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AuthFileName",
                        "value": "@outputs('FirstAuthFileName')"
                      },
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_variable_1": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AuthFileContent",
                        "value": "@outputs('Get_file_content')"
                      },
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Send_an_email_(V2)": {
                      "type": "Compose",
                      "inputs": "@concat('EMAIL_SEND_DISABLED_FOR_ISOLATION|', string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '|', outputs('FinalVerificationLink'))",
                      "runAfter": {
                        "Set_variable_1": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Send_signed_form_copy_to_candidate_(V2)": {
                      "type": "Compose",
                      "inputs": "@concat('CANDIDATE_COPY_DISABLED_FOR_ISOLATION|', string(first(body('Get_item')?['value'])?['FullName']))",
                      "runAfter": {
                        "Send_an_email_(V2)": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Update_item_-_BGV_Requests": {
                      "type": "Compose",
                      "inputs": "@concat('REQUEST_UPDATE_DISABLED_FOR_ISOLATION|', string(items('Apply_to_each_(Requests_Loop)')?['ID']))",
                      "runAfter": {
                        "Send_signed_form_copy_to_candidate_(V2)": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Can_Send_Request_With_Authorisation": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_Request_Stamp_Folder": {
                  "type": "Compose",
                  "inputs": "@concat('STAMP_FOLDER_DISABLED_FOR_ISOLATION|', string(items('Apply_to_each_(Requests_Loop)')?['RequestID']))",
                  "runAfter": {}
                },
                "Create_sharing_link_for_request_stamp_folder": {
                  "type": "Compose",
                  "inputs": "@concat('Skipped share link creation. Using direct request folder URL instead: ',concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/BGV%20Records/Candidate%20Files/',encodeUriComponent(coalesce(first(body('Get_item')?['value'])?['CandidateID'],items('Apply_to_each_(Requests_Loop)')?['CandidateID'])),'/',encodeUriComponent(items('Apply_to_each_(Requests_Loop)')?['RequestID'])))",
                  "runAfter": {
                    "Create_Request_Stamp_Folder": [
                      "Succeeded",
                      "Failed"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_items_(BGV_FormData)": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Get_items_(BGV_Requests)": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}