flows/power-automate/unpacked/Workflows/BGV_4_SendToEmployer_Clean-FE4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Minute",
            "interval": "30",
            "startTime": "2026-02-26T02:00:00Z"
          }
        }
      },
      "actions": {
        "Initialize_variable_-_AuthFileName": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileName",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_variable_-_AuthFileContent": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileContent",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_AuthFileName": [
              "Succeeded"
            ]
          }
        },
        "Get_items_(BGV_Requests)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "df824861-8e10-4a8c-ad88-f7cf1ef3ef26",
              "$filter": "VerificationStatus eq 'Not Sent' and HRRequestSentAt eq null"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runAfter": {
            "Initialize_variable_-_AuthFileContent": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each_(Requests_Loop)": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items_(BGV_Requests)')?['body/value']",
          "actions": {
            "Get_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "8c19755d-0e9c-4680-8d18-783eb9ec56be",
                  "$filter": "@concat('CandidateID eq ''', string(items('Apply_to_each_(Requests_Loop)')?['CandidateID']), '''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_items_(BGV_FormData)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "f271b227-c654-4241-8968-054dc7f1d47c",
                  "$filter": "@concat('RequestID eq ''', string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runAfter": {
                "Get_item": [
                  "Succeeded"
                ]
              }
            },
            "AuthorisationSignedFlag": {
              "type": "Compose",
              "inputs": "@if(empty(body('Get_item')?['value']), 'false', toLower(string(coalesce(first(body('Get_item')?['value'])?['AuthorisationSigned'], false))))",
              "runAfter": {
                "Get_items_(BGV_FormData)": [
                  "Succeeded"
                ]
              }
            },
            "Should_Send_Request_Now": {
              "type": "Compose",
              "inputs": "@or(not(endsWith(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '-EMP1')),empty(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate']),lessOrEquals(formatDateTime(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate'], 'yyyy-MM-dd'),formatDateTime(utcNow(), 'yyyy-MM-dd')))",
              "runAfter": {
                "AuthorisationSignedFlag": [
                  "Succeeded"
                ]
              }
            },
            "For_each_-_SignedGate": {
              "type": "Foreach",
              "foreach": "@take(body('Get_item')?['value'], if(and(equals(outputs('AuthorisationSignedFlag'),'true'), outputs('Should_Send_Request_Now')), 1, 0))",
              "actions": {
                "RequestFolderPath": {
                  "type": "Compose",
                  "inputs": "@concat('/PEV Records/Candidate Files/',coalesce(first(body('Get_item')?['value'])?['CandidateID'], items('Apply_to_each_(Requests_Loop)')?['CandidateID']),'/',items('Apply_to_each_(Requests_Loop)')?['RequestID'])",
                  "runAfter": {}
                },
                "CandidateRootFolderPath": {
                  "type": "Compose",
                  "inputs": "@concat('/PEV Records/Candidate Files/',coalesce(first(body('Get_item')?['value'])?['CandidateID'], items('Apply_to_each_(Requests_Loop)')?['CandidateID']))",
                  "runAfter": {
                    "RequestFolderPath": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_Request_Stamp_Folder": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "parameters/path": "Candidate Files/@{coalesce(first(body('Get_item')?['value'])?['CandidateID'], items('Apply_to_each_(Requests_Loop)')?['CandidateID'])}/@{items('Apply_to_each_(Requests_Loop)')?['RequestID']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateNewFolder",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {
                    "CandidateRootFolderPath": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_files_(Candidate_root_for_request_folder)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "folderPath": "@outputs('CandidateRootFolderPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileItems",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {
                    "Create_Request_Stamp_Folder": [
                      "Succeeded",
                      "Failed"
                    ]
                  }
                },
                "Filter_array_-_Request_folder_for_share": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Get_files_(Candidate_root_for_request_folder)')?['value']",
                    "where": "@equals(item()?['{Name}'],items('Apply_to_each_(Requests_Loop)')?['RequestID'])"
                  },
                  "runAfter": {
                    "Get_files_(Candidate_root_for_request_folder)": [
                      "Succeeded"
                    ]
                  }
                },
                "RequestUploadFolderItemId": {
                  "type": "Compose",
                  "inputs": "@first(body('Filter_array_-_Request_folder_for_share'))?['ID']",
                  "runAfter": {
                    "Filter_array_-_Request_folder_for_share": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_sharing_link_for_request_upload_folder": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "id": "@outputs('RequestUploadFolderItemId')",
                      "permission/type": "edit",
                      "permission/scope": "anonymous"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateSharingLink",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {
                    "RequestUploadFolderItemId": [
                      "Succeeded"
                    ]
                  }
                },
                "FinalVerificationLink": {
                  "type": "Compose",
                  "inputs": "@concat('https://forms.office.com/Pages/ResponsePage.aspx?id=cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u','&r4930fc603c0f4cada09832be79f2a76f=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName'],first(body('Get_item')?['value'])?['FullName'],'')))),'&r27b6bdb850dd48339dc05df11d485470=',encodeUriComponent(if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],'')))),'N/A',trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],''))))),'&r425242341d6143c7a29307136debe938=',encodeUriComponent(if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_item')?['value'])?['IdentificationNumberNRIC'],'')))),if(empty(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport'],first(body('Get_item')?['value'])?['IdentificationNumberPassport'],'')))),'N/A',trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport'],first(body('Get_item')?['value'])?['IdentificationNumberPassport'],'')))),'N/A')),'&rd745d133eb7f4611b59ea051f980f97a=',encodeUriComponent(trim(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']))),'&rccaf3632669648baaa335c12d4ea40bf=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'')))),'&rcf35c7cc008e472f9d0b84bde67cc1ff=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN']))),'&r19aae6e8163d4aaeb8a3f3f2d5329be2=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress']))),'&r0bef44c0d22d493f95a33484875b951e=',encodeUriComponent(if(and(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),'',if(or(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),formatDateTime(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate']),'yyyy-MM-dd'),concat(formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],'yyyy-MM-dd'),' to ',formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'],'yyyy-MM-dd'))))),'&r513ad5ab3a14453286bdb910820985ec=',encodeUriComponent(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_ReasonForLeaving'],'')),'&ra6ab2e26d2d84a92b33148fc4694773a=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_LastDrawnSalary']))),'&r49ca8a655f5e4bcba0e8f75d4475ad77=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_JobTitle']))),'&rd5d9cb98b1aa47dd8bcd7914cd4bdc87=',encodeUriComponent(outputs('CompanyStampDocumentLink')))",
                  "runAfter": {
                    "CompanyStampDocumentLink": [
                      "Succeeded"
                    ]
                  }
                },
                "AuthFolderPath": {
                  "type": "Compose",
                  "inputs": "@concat('/PEV Records/Candidate Files/',coalesce(first(body('Get_item')?['value'])?['CandidateID'], items('Apply_to_each_(Requests_Loop)')?['CandidateID']),'/Authorization/')",
                  "runAfter": {
                    "FinalVerificationLink": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_files_(properties_only)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "folderPath": "@outputs('AuthFolderPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileItems",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {
                    "AuthFolderPath": [
                      "Succeeded"
                    ]
                  }
                },
                "FirstAuthFileIdentifier": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(outputs('Get_files_(properties_only)')?['body/value'])?['{Identifier}'],'')",
                  "runAfter": {
                    "Get_files_(properties_only)": [
                      "Succeeded"
                    ]
                  }
                },
                "FirstAuthFileName": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(outputs('Get_files_(properties_only)')?['body/value'])?['{Name}'],'Authorisation.docx')",
                  "runAfter": {
                    "FirstAuthFileIdentifier": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_file_content": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "id": "@outputs('FirstAuthFileIdentifier')",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runAfter": {
                    "FirstAuthFileName": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_variable": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AuthFileName",
                    "value": "@outputs('FirstAuthFileName')"
                  },
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  }
                },
                "SubmittedEmployerReferenceEmail": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'],items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'],'')",
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  }
                },
                "IsSubmittedEmployerReferenceEmailValid": {
                  "type": "Compose",
                  "inputs": "@and(contains(trim(string(outputs('SubmittedEmployerReferenceEmail'))),'@'),not(contains(trim(string(outputs('SubmittedEmployerReferenceEmail'))),' ')),contains(last(split(trim(string(outputs('SubmittedEmployerReferenceEmail'))),'@')),'.'))",
                  "runAfter": {
                    "SubmittedEmployerReferenceEmail": [
                      "Succeeded"
                    ]
                  }
                },
                "EmployerRecipientEmail": {
                  "type": "Compose",
                  "inputs": "@if(and(contains(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),'@'),not(contains(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),' ')),contains(last(split(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),'@')),'.')),trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),if(and(contains(trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),'@'),not(contains(trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),' ')),contains(last(split(trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),'@')),'.')),trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),'dlresplmain@dlresources.com.sg'))",
                  "runAfter": {
                    "IsSubmittedEmployerReferenceEmailValid": [
                      "Succeeded"
                    ]
                  }
                },
                "NormalizedSubmittedEmployerReferenceEmail": {
                  "type": "Compose",
                  "inputs": "@toLower(trim(string(outputs('SubmittedEmployerReferenceEmail'))))",
                  "runAfter": {
                    "EmployerRecipientEmail": [
                      "Succeeded"
                    ]
                  }
                },
                "EmployerNumber": {
                  "type": "Compose",
                  "inputs": "@last(split(items('Apply_to_each_(Requests_Loop)')?['RequestID'],'-'))",
                  "runAfter": {
                    "NormalizedSubmittedEmployerReferenceEmail": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_Approved_HR_Reference_Contacts": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "parameters/method": "GET",
                      "parameters/uri": "@concat('_api/web/lists/GetByTitle(''Approved HR Reference Contacts'')/items?$top=1&$select=Id,Title,HRReferenceEmailNormalized,IsActive&$filter=HRReferenceEmailNormalized eq ''', replace(outputs('NormalizedSubmittedEmployerReferenceEmail'),'''',''''''), ''' and IsActive eq 1')",
                      "parameters/headers": {
                        "Accept": "application/json;odata=nometadata"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "EmployerNumber": [
                      "Succeeded"
                    ]
                  }
                },
                "ApprovedContactMatchCount": {
                  "type": "Compose",
                  "inputs": "@length(body('Get_Approved_HR_Reference_Contacts')?['value'])",
                  "runAfter": {
                    "Get_Approved_HR_Reference_Contacts": [
                      "Succeeded"
                    ]
                  }
                },
                "ShouldNotifyGuardrailTeams": {
                  "type": "Compose",
                  "inputs": "@or(empty(items('Apply_to_each_(Requests_Loop)')?['ReferenceGuardrailNotifiedAt']),not(equals(toLower(trim(string(coalesce(items('Apply_to_each_(Requests_Loop)')?['ReferenceGuardrailLastEmailNormalized'],'')))),outputs('NormalizedSubmittedEmployerReferenceEmail'))))",
                  "runAfter": {
                    "ApprovedContactMatchCount": [
                      "Succeeded"
                    ]
                  }
                },
                "ApprovedContactBranchDecision": {
                  "type": "Compose",
                  "inputs": "@if(and(equals(string(outputs('IsSubmittedEmployerReferenceEmailValid')),'true'),greater(int(outputs('ApprovedContactMatchCount')),0)),'approved','hold')",
                  "runAfter": {
                    "ShouldNotifyGuardrailTeams": [
                      "Succeeded"
                    ]
                  }
                },
                "Condition_-_Approved_contact_found": {
                  "type": "If",
                  "expression": "@and(equals(string(outputs('IsSubmittedEmployerReferenceEmailValid')),'true'),greater(int(outputs('ApprovedContactMatchCount')),0))",
                  "runAfter": {
                    "ApprovedContactBranchDecision": [
                      "Succeeded"
                    ]
                  },
                  "actions": {
                    "NormalizedEmployerUEN": {
                      "type": "Compose",
                      "inputs": "@toUpper(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['Employer_UEN'],''))))",
                      "runAfter": {}
                    },
                    "Get_Centralised_Employer_Email_By_UEN": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "parameters/method": "GET",
                          "parameters/uri": "@if(empty(outputs('NormalizedEmployerUEN')),'_api/web/lists/GetByTitle(''Approved HR Reference Contacts'')/items?$top=0',concat('_api/web/lists/GetByTitle(''Approved HR Reference Contacts'')/items?$top=1&$select=Id,Title,CompanyUENNormalized,HRReferenceEmail,HRReferenceEmailNormalized,IsActive&$filter=CompanyUENNormalized eq ''', replace(outputs('NormalizedEmployerUEN'),'''',''''''), ''' and IsActive eq 1'))",
                          "parameters/headers": {
                            "Accept": "application/json;odata=nometadata"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "NormalizedEmployerUEN": [
                          "Succeeded"
                        ]
                      }
                    },
                    "CentralisedEmployerEmailCandidate": {
                      "type": "Compose",
                      "inputs": "@trim(string(coalesce(first(body('Get_Centralised_Employer_Email_By_UEN')?['value'])?['HRReferenceEmail'],'')))",
                      "runAfter": {
                        "Get_Centralised_Employer_Email_By_UEN": [
                          "Succeeded"
                        ]
                      }
                    },
                    "IsCentralisedEmployerEmailValid": {
                      "type": "Compose",
                      "inputs": "@and(contains(trim(string(outputs('CentralisedEmployerEmailCandidate'))),'@'),not(contains(trim(string(outputs('CentralisedEmployerEmailCandidate'))),' ')),contains(last(split(trim(string(outputs('CentralisedEmployerEmailCandidate'))),'@')),'.'))",
                      "runAfter": {
                        "CentralisedEmployerEmailCandidate": [
                          "Succeeded"
                        ]
                      }
                    },
                    "ResolvedEmployerToEmail": {
                      "type": "Compose",
                      "inputs": "@if(and(equals(string(outputs('IsCentralisedEmployerEmailValid')),'true'),equals(toLower(trim(string(outputs('EmployerRecipientEmail')))),'dlresplmain@dlresources.com.sg')),trim(string(outputs('CentralisedEmployerEmailCandidate'))),outputs('EmployerRecipientEmail'))",
                      "runAfter": {
                        "IsCentralisedEmployerEmailValid": [
                          "Succeeded"
                        ]
                      }
                    },
                    "DuplicatePrevention_CentralisedEmailMatchesResolvedTo": {
                      "type": "Compose",
                      "inputs": "@and(equals(string(outputs('IsCentralisedEmployerEmailValid')),'true'),equals(toLower(trim(string(outputs('CentralisedEmployerEmailCandidate')))),toLower(trim(string(outputs('ResolvedEmployerToEmail'))))))",
                      "runAfter": {
                        "ResolvedEmployerToEmail": [
                          "Succeeded"
                        ]
                      }
                    },
                    "ResolvedEmployerCcEmail": {
                      "type": "Compose",
                      "inputs": "@if(and(equals(string(outputs('IsCentralisedEmployerEmailValid')),'true'),equals(string(outputs('DuplicatePrevention_CentralisedEmailMatchesResolvedTo')),'false'),not(equals(toLower(trim(string(outputs('EmployerRecipientEmail')))),'dlresplmain@dlresources.com.sg'))),trim(string(outputs('CentralisedEmployerEmailCandidate'))),'')",
                      "runAfter": {
                        "DuplicatePrevention_CentralisedEmailMatchesResolvedTo": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Send_an_email_(V2)": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg",
                          "emailMessage/To": "@outputs('ResolvedEmployerToEmail')",
                          "emailMessage/CC": "@outputs('ResolvedEmployerCcEmail')",
                          "emailMessage/Subject": "Request for Employment Verification - @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)')}",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">Dear HR Department,<br><br>We are reaching out to the Human Resource Department of your company to conduct a Previous Employment Verification Check for</p><p class=\"editor-paragraph\">@{first(body('Get_item')?['value'])?['FullName']}, who has listed your organisation (@{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)')}) as the relevant previous employer.</p><br><p class=\"editor-paragraph\">Declared company details from candidate:</p><p class=\"editor-paragraph\">- Company Name: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)')}<br>- Company Address: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress'],items('Apply_to_each_(Requests_Loop)')?['EmployerAddress'],items('Apply_to_each_(Requests_Loop)')?['Employer_Address'],'(Not captured)')}<br>- Company UEN: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['Employer_UEN'],'(Not captured)')}</p><br><p class=\"editor-paragraph\">We would greatly appreciate your assistance in completing the \"Previous Employment Verification Form\" via the link provided below as soon as possible to support a smooth and timely onboarding process.</p><br><p class=\"editor-paragraph\">For verification purposes, we would also appreciate it if you could upload your company stamp using the shared Word document provided below.</p><br><p class=\"editor-paragraph\">Request ID: @{items('Apply_to_each_(Requests_Loop)')?['RequestID']}<br>Company stamp document:<br><a href=\"@{outputs('CompanyStampDocumentLink')}\" class=\"editor-link\">Open Company Stamp - @{items('Apply_to_each_(Requests_Loop)')?['RequestID']}.docx</a><br><br>Please open the document, place your company stamp in it, and save it back using the same shared link.</p><br><p class=\"editor-paragraph\">The following is the link to the form:<br><a href=\"@{outputs('FinalVerificationLink')}\" class=\"editor-link\"><br><br>Click here to complete verification</a><br><br>For your reference, the candidate's signed authorisation has been recorded for this request.</p><br><p class=\"editor-paragraph\">Please be assured that all information provided will be treated with the strictest confidence and used solely for internal HR and employment verification purposes. Please note: if you have any questions or require further information, please reply to this email or include this Request ID in the subject line: @{items('Apply_to_each_(Requests_Loop)')?['RequestID']}.</p><br><p class=\"editor-paragraph\">Thank you for your time and we appreciate your verification.</p><br><p class=\"editor-paragraph\">Thanks &amp; Regards,<br>D L Resources Pte Ltd<br><br>Phil Wong | HR Officer<br>Co. Reg. No. 199600101K<br>EA License No: 24C2333<br>Tel: +65 8205 9002<br>Email: <a href=\"mailto:recruitment@dlresources.com.sg\">recruitment@dlresources.com.sg</a></p><br>",
                          "emailMessage/Attachments": [
                            {
                              "Name": "@variables('AuthFileName')",
                              "ContentBytes": "@base64ToBinary(outputs('Get_file_content')?['body/$content'])"
                            }
                          ],
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365"
                        }
                      },
                      "runAfter": {
                        "ResolvedEmployerCcEmail": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Condition_-_Send_candidate_copy_once": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@if(endsWith(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '-EMP1'),'true','false')",
                          "true"
                        ]
                      },
                      "actions": {
                        "Send_signed_form_copy_to_candidate_(V2)": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg",
                              "emailMessage/To": "@if(contains(trim(string(first(body('Get_item')?['value'])?['CandidateEmail'])),'@'),trim(string(first(body('Get_item')?['value'])?['CandidateEmail'])),'recruitment@dlresources.com.sg')",
                              "emailMessage/Subject": "Copy of Signed Authorization Form - @{first(body('Get_item')?['value'])?['FullName']}",
                              "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{first(body('Get_item')?['value'])?['FullName']},</p><br><p class=\"editor-paragraph\">An email will be sent to your employers based on the details you have provided for the previous employment verification process.</p><br><p class=\"editor-paragraph\">For your reference, your signed authorization form is attached to this email. Please keep this copy for your records and open it in Microsoft Word to view the signed document properly.</p><br><p class=\"editor-paragraph\">Thanks &amp; Regards,<br>D L Resources Pte Ltd<br><br>Phil Wong | HR Officer<br>Co. Reg. No. 199600101K<br>EA License No: 24C2333<br>Tel: +65 8205 9002<br>Email: <a href=\"mailto:recruitment@dlresources.com.sg\">recruitment@dlresources.com.sg</a></p>",
                              "emailMessage/Attachments": [
                                {
                                  "Name": "@variables('AuthFileName')",
                                  "ContentBytes": "@base64ToBinary(outputs('Get_file_content')?['body/$content'])"
                                }
                              ],
                              "emailMessage/Importance": "Normal"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "operationId": "SharedMailboxSendEmailV2",
                              "connectionName": "shared_office365"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Send_an_email_(V2)": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Patch_BGV_Request_Status": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "parameters/method": "PATCH",
                          "parameters/uri": "@concat('_api/web/lists(guid''df824861-8e10-4a8c-ad88-f7cf1ef3ef26'')/items(', string(items('Apply_to_each_(Requests_Loop)')?['ID']), ')')",
                          "parameters/headers": {
                            "Accept": "application/json;odata=nometadata",
                            "Content-Type": "application/json;odata=nometadata",
                            "IF-MATCH": "*"
                          },
                          "parameters/body": "@concat('{\"HRRequestSentAt\":\"', utcNow(), '\",\"VerificationStatus\":\"Email Sent\",\"uniquelinktoemployers\":\"', replace(string(outputs('FinalVerificationLink')), '\"', '\\\"'), '\",\"ReferenceGuardrailStatus\":\"Email found in approved list\",\"ReferenceGuardrailCheckedAt\":\"', utcNow(), '\",\"ReferenceGuardrailLastEmailNormalized\":\"', replace(string(outputs('NormalizedSubmittedEmployerReferenceEmail')), '\"', '\\\"'), '\"}')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "Condition_-_Send_candidate_copy_once": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Condition_-_Post_guardrail_message": {
                        "type": "If",
                        "expression": {
                          "equals": [
                            "@outputs('ShouldNotifyGuardrailTeams')",
                            true
                          ]
                        },
                        "actions": {
                          "Post_message_in_a_chat_or_channel_-_Guardrail": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "poster": "Flow bot",
                                "location": "Channel",
                                "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                                "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                                "body/messageBody": "<p class=\"editor-paragraph\"><strong>PEV HR/reference contact verification required</strong></p><p class=\"editor-paragraph\">Candidate Name: @{coalesce(first(body('Get_item')?['value'])?['FullName'],items('Apply_to_each_(Requests_Loop)')?['CandidateID'])}<br>Candidate ID: @{items('Apply_to_each_(Requests_Loop)')?['CandidateID']}<br>Employer Number: @{outputs('EmployerNumber')}<br>Employer Name: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)')}<br>Submitted HR/reference Email: @{outputs('NormalizedSubmittedEmployerReferenceEmail')}<br>Company UEN: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['Employer_UEN'],'(Not provided)')}<br>Check Result: @{if(outputs('IsSubmittedEmployerReferenceEmailValid'),'Email not found in approved list','Submitted HR/reference email is blank or invalid')}</p><p class=\"editor-paragraph\">Approved HR Reference Contacts list:<br><a href=\"https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/Lists/Approved%20HR%20Reference%20Contacts/AllItems.aspx\">Open SharePoint List</a></p><p class=\"editor-paragraph\">Please verify this HR/reference contact. If valid, add the email and relevant details into the SharePoint List. This PEV request will retry automatically on the next scheduled flow run after the approved contact has been added.</p>"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                "operationId": "PostMessageToConversation",
                                "connectionName": "shared_teams"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "else": {
                          "actions": {}
                        },
                        "runAfter": {}
                      },
                      "Patch_BGV_Request_Guardrail_Hold": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                            "parameters/method": "PATCH",
                            "parameters/uri": "@concat('_api/web/lists(guid''df824861-8e10-4a8c-ad88-f7cf1ef3ef26'')/items(', string(items('Apply_to_each_(Requests_Loop)')?['ID']), ')')",
                            "parameters/headers": {
                              "Accept": "application/json;odata=nometadata",
                              "Content-Type": "application/json;odata=nometadata",
                              "IF-MATCH": "*"
                            },
                            "parameters/body": "@concat('{\"ReferenceGuardrailStatus\":\"', if(outputs('IsSubmittedEmployerReferenceEmailValid'),'Approval required','Needs corrected HR email'), '\",\"ReferenceGuardrailCheckedAt\":\"', utcNow(), '\",\"ReferenceGuardrailNotifiedAt\":\"', utcNow(), '\",\"ReferenceGuardrailLastEmailNormalized\":\"', replace(string(outputs('NormalizedSubmittedEmployerReferenceEmail')), '\"', '\\\"'), '\",\"ReferenceGuardrailNotes\":\"', replace(concat('Candidate ', coalesce(first(body('Get_item')?['value'])?['FullName'],items('Apply_to_each_(Requests_Loop)')?['CandidateID']), ' / ', items('Apply_to_each_(Requests_Loop)')?['CandidateID'], ' - ', outputs('EmployerNumber'), ' - ', coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)'), ' - Submitted HR/reference email: ', outputs('NormalizedSubmittedEmployerReferenceEmail')), '\"', '\\\"'), '\"}')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "operationId": "HttpRequest",
                            "connectionName": "shared_sharepointonline"
                          }
                        },
                        "runAfter": {
                          "Condition_-_Post_guardrail_message": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "ShouldNotifyGuardrailTeams": [
                      "Succeeded"
                    ]
                  }
                },
                "CompanyStampDocumentName": {
                  "type": "Compose",
                  "inputs": "@concat('Company Stamp - ',items('Apply_to_each_(Requests_Loop)')?['RequestID'],'.docx')",
                  "runAfter": {
                    "Create_sharing_link_for_request_upload_folder": [
                      "Succeeded"
                    ]
                  }
                },
                "CompanyStampDocumentPath": {
                  "type": "Compose",
                  "inputs": "@concat(outputs('RequestFolderPath'),'/',outputs('CompanyStampDocumentName'))",
                  "runAfter": {
                    "CompanyStampDocumentName": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_company_stamp_document_metadata_by_path": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "path": "@outputs('CompanyStampDocumentPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileMetadataByPath",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "CompanyStampDocumentPath": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_company_stamp_template_content": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "path": "/PEV Records/Templates/Company Stamp.docx",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileContentByPath",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Get_company_stamp_document_metadata_by_path": [
                      "Failed"
                    ]
                  }
                },
                "Create_company_stamp_document": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "folderPath": "@outputs('RequestFolderPath')",
                      "name": "@outputs('CompanyStampDocumentName')",
                      "body": "@body('Get_company_stamp_template_content')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateFile",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Get_company_stamp_template_content": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Get_company_stamp_document_metadata_by_path_after_create": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "path": "@outputs('CompanyStampDocumentPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileMetadataByPath",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Create_company_stamp_document": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_sharing_link_for_existing_company_stamp_document": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "id": "@outputs('Get_company_stamp_document_metadata_by_path')?['body/ItemId']",
                      "permission/type": "edit",
                      "permission/scope": "anonymous"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateSharingLink",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Get_company_stamp_document_metadata_by_path": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_sharing_link_for_created_company_stamp_document": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "id": "@outputs('Get_company_stamp_document_metadata_by_path_after_create')?['body/ItemId']",
                      "permission/type": "edit",
                      "permission/scope": "anonymous"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateSharingLink",
                      "connectionName": "shared_sharepointonline"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Get_company_stamp_document_metadata_by_path_after_create": [
                      "Succeeded"
                    ]
                  }
                },
                "CompanyStampDocumentLink": {
                  "type": "Compose",
                  "inputs": "@coalesce(outputs('Create_sharing_link_for_existing_company_stamp_document')?['body/link/webUrl'],outputs('Create_sharing_link_for_created_company_stamp_document')?['body/link/webUrl'])",
                  "runAfter": {
                    "Create_sharing_link_for_existing_company_stamp_document": [
                      "Succeeded",
                      "Skipped"
                    ],
                    "Create_sharing_link_for_created_company_stamp_document": [
                      "Succeeded",
                      "Skipped"
                    ]
                  }
                }
              },
              "runAfter": {
                "Should_Send_Request_Now": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Get_items_(BGV_Requests)": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
