flows/power-automate/unpacked/Workflows/BGV_3_AuthReminder_5Days-FF4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Hour",
            "interval": "1",
            "startTime": "2026-03-30T01:05:00Z"
          },
          "evaluatedRecurrence": {
            "frequency": "Hour",
            "interval": "1",
            "startTime": "2026-03-30T01:05:00Z"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "8c19755d-0e9c-4680-8d18-783eb9ec56be",
              "$filter": "Status eq 'Pending Authorization Form Signature'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {},
              "else": {
                "actions": {
                  "Condition_1": {
                    "actions": {
                      "LocalNow_SGT": {
                        "type": "Compose",
                        "inputs": "@convertTimeZone(utcNow(),'UTC','Singapore Standard Time')"
                      },
                      "LinkCreatedLocal_SGT": {
                        "type": "Compose",
                        "inputs": "@convertTimeZone(items('Apply_to_each')?['AuthorizationLinkCreatedAt'],'UTC','Singapore Standard Time')",
                        "runAfter": {
                          "LocalNow_SGT": [
                            "Succeeded"
                          ]
                        }
                      },
                      "DaysSinceLink": {
                        "type": "Compose",
                        "inputs": "@div(sub(ticks(startOfDay(outputs('LocalNow_SGT'))),ticks(startOfDay(outputs('LinkCreatedLocal_SGT')))),864000000000)",
                        "runAfter": {
                          "LinkCreatedLocal_SGT": [
                            "Succeeded"
                          ]
                        }
                      },
                      "CurrentHour_SGT": {
                        "type": "Compose",
                        "inputs": "@int(formatDateTime(outputs('LocalNow_SGT'),'HH'))",
                        "runAfter": {
                          "DaysSinceLink": [
                            "Succeeded"
                          ]
                        }
                      },
                      "EligibleReminderWindow": {
                        "type": "Compose",
                        "inputs": "@or(and(equals(outputs('DaysSinceLink'),0),equals(outputs('CurrentHour_SGT'),21),less(int(formatDateTime(outputs('LinkCreatedLocal_SGT'),'HH')),21)),and(or(equals(outputs('DaysSinceLink'),1),equals(outputs('DaysSinceLink'),2)),or(equals(outputs('CurrentHour_SGT'),9),equals(outputs('CurrentHour_SGT'),21))),and(or(equals(outputs('DaysSinceLink'),3),equals(outputs('DaysSinceLink'),4),equals(outputs('DaysSinceLink'),5)),equals(outputs('CurrentHour_SGT'),9)))",
                        "runAfter": {
                          "CurrentHour_SGT": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Condition_2": {
                        "actions": {
                          "Condition__-_not_reminded_this_slot_": {
                            "actions": {
                              "Send_an_email_(V2)": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "emailMessage/To": "@items('Apply_to_each')?['CandidateEmail']",
                                    "emailMessage/Subject": "Reminder: Please complete your authorization form",
                                    "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{items('Apply_to_each')?['FullName']},</p><br><p class=\"editor-paragraph\">This is a reminder to complete your authorization form required for verification step. Note: These reminder emails will stop when you have completed the form.</p><br><p class=\"editor-paragraph\">Link: @{items('Apply_to_each')?['AuthorizationLink']}<br><br>Thank you,</p><p class=\"editor-paragraph\">D L Resources</p>",
                                    "emailMessage/Importance": "Normal",
                                    "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                    "connectionName": "shared_office365",
                                    "operationId": "SharedMailboxSendEmailV2"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Update_item_-_lastauthremindersentat": {
                                "runAfter": {
                                  "Send_an_email_(V2)": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                                    "table": "8c19755d-0e9c-4680-8d18-783eb9ec56be",
                                    "id": "@items('Apply_to_each')?['ID']",
                                    "item/Title": "@items('Apply_to_each')?['Title']",
                                    "item/LastAuthReminderAt": "@utcNow()"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PatchItem"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "else": {
                              "actions": {}
                            },
                            "expression": {
                              "or": [
                                {
                                  "equals": [
                                    "@empty(items('Apply_to_each')?['LastAuthReminderAt'])",
                                    true
                                  ]
                                },
                                {
                                  "equals": [
                                    "@not(and(equals(formatDateTime(convertTimeZone(items('Apply_to_each')?['LastAuthReminderAt'],'UTC','Singapore Standard Time'),'yyyy-MM-dd'),formatDateTime(outputs('LocalNow_SGT'),'yyyy-MM-dd')),equals(int(formatDateTime(convertTimeZone(items('Apply_to_each')?['LastAuthReminderAt'],'UTC','Singapore Standard Time'),'HH')),outputs('CurrentHour_SGT'))))",
                                    true
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "EligibleReminderWindow": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@outputs('EligibleReminderWindow')",
                                true
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      },
                      "Condition_4_-_escalation_check": {
                        "actions": {
                          "Post_message_in_a_chat_or_channel": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "poster": "Flow bot",
                                "location": "Channel",
                                "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                                "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                                "body/messageBody": "<p class=\"editor-paragraph\">Day 5 - Authorization form NOT SUBMITTED</p><br><p class=\"editor-paragraph\">Candidate : @{items('Apply_to_each')?['FullName']}</p><p class=\"editor-paragraph\">Candidate ID: @{items('Apply_to_each')?['CandidateID']}</p><p class=\"editor-paragraph\"><br>Authorization Link: @{items('Apply_to_each')?['AuthorizationLink']}</p>"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                "connectionName": "shared_teams",
                                "operationId": "PostMessageToConversation"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Send_an_email_(V2)_1": {
                            "runAfter": {
                              "Post_message_in_a_chat_or_channel": [
                                "Succeeded",
                                "Failed",
                                "TimedOut",
                                "Skipped"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "emailMessage/To": "recruitment@dlresources.com.sg",
                                "emailMessage/Subject": "[Day 5 ALERT} Authorization Form Not Submitted ",
                                "emailMessage/Body": "<p class=\"editor-paragraph\">Hi Team,</p><br><p class=\"editor-paragraph\">Candidate has not completed the Authorization Form after 5 days of reminder. Please ask applicant to fill it up.</p><br><p class=\"editor-paragraph\">Candidate: @{items('Apply_to_each')?['FullName']}<br>Candidate ID: @{items('Apply_to_each')?['CandidateID']}</p><p class=\"editor-paragraph\">Candidate Email: @{items('Apply_to_each')?['CandidateEmail']}<br>Status: @{items('Apply_to_each')?['Status/Value']}<br><br>Authorization Link: @{items('Apply_to_each')?['AuthorizationLink']}</p>",
                                "emailMessage/Importance": "Normal",
                                "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                "connectionName": "shared_office365",
                                "operationId": "SharedMailboxSendEmailV2"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Update_item_-_day5sent_true": {
                            "runAfter": {
                              "Send_an_email_(V2)_1": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                                "table": "8c19755d-0e9c-4680-8d18-783eb9ec56be",
                                "id": "@items('Apply_to_each')?['ID']",
                                "item/Title": "@items('Apply_to_each')?['Title']",
                                "item/Day5Sent": true
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                "connectionName": "shared_sharepointonline",
                                "operationId": "PatchItem"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Condition_2": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "and": [
                                {
                                  "equals": [
                                    "@outputs('DaysSinceLink')",
                                    5
                                  ]
                                },
                                {
                                  "equals": [
                                    "@outputs('CurrentHour_SGT')",
                                    9
                                  ]
                                }
                              ]
                            },
                            {
                              "equals": [
                                "@not(equals(toLower(string(coalesce(items('Apply_to_each')?['Day5Sent'], false))),'true'))",
                                true
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@items('Apply_to_each')?['Status/Value']",
                            "Pending Authorization Form Signature"
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@toLower(string(items('Apply_to_each')?['AuthorisationSigned']))",
                      "true"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
