flows/power-automate/unpacked/Workflows/BGV_0_CandidateDeclaration-8C1238C7-E4F1-F011-8406-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "api": {
          "name": "shared_microsoftforms"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedmicrosoftforms_a2caf"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      },
      "shared_wordonlinebusiness": {
        "api": {
          "name": "shared_wordonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedwordonlinebusiness_2ff9a"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365-1": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUNlVFTjhUNjNWOTI4SEsxTVc0V1ZSV1o3Qi4u"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "connectionName": "shared_microsoftforms"
            }
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "84d4a69d-ac01-4818-a6f3-f23c57a0cd90"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUNlVFTjhUNjNWOTI4SEsxTVc0V1ZSV1o3Qi4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "connectionName": "shared_microsoftforms"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5bbf02dd-2ea8-4d44-a92b-f9ced6d3c0ce"
          }
        },
        "Initialize_varCandidateID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCandidateID",
                "type": "string",
                "value": "@concat(\r\n  'BGV-',\r\n  formatDateTime(utcNow(),'yyyyMMdd'),\r\n  '-',\r\n  substring(guid(),0,5)\r\n)"
              }
            ]
          },
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bbf026bd-ca30-4058-8dbe-05bd624127e8"
          }
        },
        "Create_Candidate_Folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "8bab5b4d-b441-4f3f-99d4-5bf49557a8e9",
              "parameters/path": "Candidate Files/@{variables('varCandidateID')}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Initialize_varCandidateID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6312058a-3ab3-4c31-b953-3602bdfc076b"
          }
        },
        "Create_BGV_Candidates_Row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "65747b59-c6b0-4671-ae37-79e35ad84c48",
              "item/Title": "@variables('varCandidateID')",
              "item/CandidateID": "@variables('varCandidateID')",
              "item/FullName": "@outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']",
              "item/CandidateEmail": "@outputs('Get_response_details')?['body/rcd8057cd92b24b5594681a5b39c07e3d']",
              "item/ConsentCaptured": true,
              "item/Status/Value": "New Candidate Form Filled",
              "item/CreatedDate": "@utcNow()",
              "item/IdentificationNumberPassport": "@outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b']",
              "item/IdentificationNumberNRIC": "@outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49']",
              "item/{ContentType}/Id": "0x0100E0621C02A8D0D243940C59EBF81136500059EFDD3D7C7F2A4DBB73BD7372B4FC38"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "PostItem",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Create_Candidate_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1ce7a329-6792-4937-ba26-1d84739af40f"
          }
        },
        "Create_Authorization_Sub_Folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "8bab5b4d-b441-4f3f-99d4-5bf49557a8e9",
              "parameters/path": "Candidate Files/@{variables('varCandidateID')}/Authorization"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Is_E3_filled": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d6183ea-2eb8-4833-a970-7c004ab023ee"
          }
        },
        "Populate_a_Microsoft_Word_template": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "sites/dlresourcespl88.sharepoint.com,4a00b2e1-49ac-40de-bb98-ba8ea1643a42,38c5c241-3542-4629-9b7e-f155ebc4ac49",
              "drive": "b!4bIASqxJ3kC7mLqOoWQ6QkHCxThCNSlGm37xVevErElNW6uLQbQ_T5nUW_SVV6jp",
              "file": "017QXH3HY4VD3KC5XPBVHKXU2XVJJNBW5I",
              "dynamicFileSchema/974713748": "@if(not(empty(outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'])),outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'],'N/A')",
              "dynamicFileSchema/-1424797845": "@outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']",
              "dynamicFileSchema/-206184337": "@if(not(empty(outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'])),'N/A',if(not(empty(outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b'])),outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b'],'N/A'))",
              "dynamicFileSchema/-352883803": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Singapore Standard Time'), 'dd MMM yyyy')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness",
              "operationId": "CreateFileItem",
              "connectionName": "shared_wordonlinebusiness"
            }
          },
          "runAfter": {
            "Create_Authorization_Sub_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "016SGZG5NYDHTWYGVEHBAJJ55N7V55HNXG": "/Templates/AuthorizationLetter_Template.docx",
            "operationMetadataId": "eea86399-9b39-4f42-904d-a81b4256ca44",
            "017QXH3HY4VD3KC5XPBVHKXU2XVJJNBW5I": "/Templates/AuthorizationLetter_Template.docx"
          }
        },
        "_Create_the_filled_DOCX_in_Authorization_Folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "folderPath": "/BGV Records/Candidate Files/@{variables('varCandidateID')}/Authorization",
              "name": "Authorization Form - @{variables('varCandidateID')}.docx",
              "body": "@body('Populate_a_Microsoft_Word_template')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateFile",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Populate_a_Microsoft_Word_template": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "metadata": {
            "operationMetadataId": "826e9602-2cbb-40b1-8ca4-437fb4b4cf7a"
          }
        },
        "Create_sharing_link_for_a_file_or_folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "8bab5b4d-b441-4f3f-99d4-5bf49557a8e9",
              "id": "@outputs('_Create_the_filled_DOCX_in_Authorization_Folder')?['body/ItemId']",
              "permission/type": "edit",
              "permission/scope": "anonymous"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateSharingLink",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "_Create_the_filled_DOCX_in_Authorization_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23339f4d-1240-408a-a87f-c7f82b6875c8"
          }
        },
        "Update_BGV_Candidates_List_Row_Status": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "65747b59-c6b0-4671-ae37-79e35ad84c48",
              "id": "@outputs('Create_BGV_Candidates_Row')?['body/ID']",
              "item/Title": "@variables('varCandidateID')",
              "item/Status/Value": "Pending Authorization Form Signature",
              "item/AuthorizationLink": "@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']",
              "item/AuthorizationLinkCreatedAt": "@utcNow()"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "PatchItem",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Send_an_email_from_a_shared_mailbox_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43f3b6df-7698-4b73-bfc9-10e23f2242dc"
          }
        },
        "Get_Candidate_Row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "65747b59-c6b0-4671-ae37-79e35ad84c48",
              "$filter": "CandidateID eq '@{variables('varCandidateID')}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Create_BGV_Candidates_Row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db28722d-9dcf-4754-8ee1-4268ac0ca0ec"
          }
        },
        "CandidateItemId": {
          "type": "Compose",
          "inputs": "@if(\r\n  greater(length(body('Get_Candidate_Row')?['value']), 0),\r\n  first(body('Get_Candidate_Row')?['value'])?['ID'],\r\n  null\r\n)\r\n",
          "runAfter": {
            "Get_Candidate_Row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99d25561-589b-465e-9439-e954d7fb46a9"
          }
        },
        "Is_E2_filled": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_response_details')?['body/r32be5c779be8409da404c296b3262471']",
                    ""
                  ]
                }
              }
            ]
          },
          "actions": {
            "E2_Row_Check": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                  "$filter": "@concat('RequestID eq ''REQ-', variables('varCandidateID'), '-EMP2''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "metadata": {
                "operationMetadataId": "9ad2b380-094b-423d-91e7-7372c9ed5318"
              }
            },
            "E2_Row_Check_Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@equals(length(body('E2_Row_Check')?['value']), 0)",
                      true
                    ]
                  }
                ]
              },
              "actions": {
                "Create_BGV_Request_Row_E2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                      "item/Title": "@concat('REQ-', variables('varCandidateID'), '-EMP2')",
                      "item/CandidateID": "@variables('varCandidateID')",
                      "item/EmployerName": "@outputs('Get_response_details')?['body/r1bb545a59a184a8d8a688825a042a314']",
                      "item/EmployerHR_Email": "@outputs('Get_response_details')?['body/r32be5c779be8409da404c296b3262471']",
                      "item/CandidateItemID/Id": "@outputs('CandidateItemId')",
                      "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP2')",
                      "item/SendAfterDate": "@utcNow()",
                      "item/VerificationStatus/Value": "Pending"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c7713e38-8f26-4e84-85b7-2ced17547ede"
                  }
                },
                "Create_BGV_FormData_Row_E2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
                      "item/Title": "@concat(variables('varCandidateID'), '|EMP2')",
                      "item/RecordKey": "@concat(variables('varCandidateID'), '|EMP2')",
                      "item/CandidateID": "@variables('varCandidateID')",
                      "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP2')",
                      "item/EmployerSlot/Value": "EMP2",
                      "item/CandidateItemID": "@outputs('CandidateItemId')",
                      "item/RecordItemID": "@outputs('Create_BGV_Request_Row_E2')?['body/ID']",
                      "item/Form1SubmittedAt": "@utcNow()",
                      "item/Form1RawJson": "@string(outputs('Get_response_details')?['body'])",
                      "item/F1_CandidateFullName": "@outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']",
                      "item/F1_CandidateEmail": "@outputs('Get_response_details')?['body/rcd8057cd92b24b5594681a5b39c07e3d']",
                      "item/F1_IDType/Value": "@if(not(empty(outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'])),'NRIC','Passport')",
                      "item/F1_IDNumberNRIC": "@outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49']",
                      "item/F1_IDNumberPassport": "@outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b']",
                      "item/F1_EmployerName": "@outputs('Get_response_details')?['body/r1bb545a59a184a8d8a688825a042a314']",
                      "item/F1_EmployerUEN": "@outputs('Get_response_details')?['body/r6be20fd3c82f4c3d8c406cc3a5b0f6dc']",
                      "item/F1_EmployerAddress": "@outputs('Get_response_details')?['body/r4b95a3f004d54d21903e1b46c2f55b63']",
                      "item/F1_EmployerPostalCode": "@outputs('Get_response_details')?['body/r9e3813d18bc3416e8ddb87cef1ce4de1']",
                      "item/F1_JobTitle": "@outputs('Get_response_details')?['body/r2e71b6400a364fe1aa626eeea6a99f61']",
                      "item/F1_LastDrawnSalary": "@outputs('Get_response_details')?['body/rd7edb8d30e1b49a89cf77ac3eb85b5c5']",
                      "item/F1_ReasonForLeaving": "@coalesce(outputs('Get_response_details')?['body/r3b040646143e4015a21562a7c692b3d0'],'')",
                      "item/F1_EmploymentStartDate": "@if(empty(outputs('Get_response_details')?['body/ra375ae9073404fc79aa6cd8e6bfb8a65']), null, outputs('Get_response_details')?['body/ra375ae9073404fc79aa6cd8e6bfb8a65'])",
                      "item/F1_EmploymentEndDate": "@if(empty(outputs('Get_response_details')?['body/rc503abfcc3014499993291e460a366b1']), null, outputs('Get_response_details')?['body/rc503abfcc3014499993291e460a366b1'])",
                      "item/F1_HRContactName": "@outputs('Get_response_details')?['body/r125e48f9283a4dea8d82c8d39fd708d9']",
                      "item/F1_HREmail": "@outputs('Get_response_details')?['body/r32be5c779be8409da404c296b3262471']",
                      "item/F1_HRMobile": "@outputs('Get_response_details')?['body/r7e52c06848b94899b011881713cae9bf']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Create_BGV_Request_Row_E2": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "E2_Row_Check": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6405c22c-f06a-43c8-b972-59dd8231508e"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "E1_Row_Check_Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da1f97d9-a380-41f8-9231-dd66adab0171"
          }
        },
        "Is_E3_filled": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_response_details')?['body/r7032b42718eb4a84a88453304c2ee557']",
                    ""
                  ]
                }
              }
            ]
          },
          "actions": {
            "E3_Row_Check": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                  "$filter": "@concat('RequestID eq ''REQ-', variables('varCandidateID'), '-EMP3''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "metadata": {
                "operationMetadataId": "682fdccf-7761-4439-803f-f35ee7b9e32f"
              }
            },
            "E3_Row_Check_Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@equals(length(body('E3_Row_Check')?['value']), 0)",
                      true
                    ]
                  }
                ]
              },
              "actions": {
                "Create_BGV_Request_Row_E3": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                      "item/Title": "@concat('REQ-', variables('varCandidateID'), '-EMP3')",
                      "item/CandidateID": "@variables('varCandidateID')",
                      "item/EmployerName": "@outputs('Get_response_details')?['body/r3e674ff5973e4d54b9f96952de10cd37']",
                      "item/EmployerHR_Email": "@outputs('Get_response_details')?['body/r7032b42718eb4a84a88453304c2ee557']",
                      "item/CandidateItemID/Id": "@outputs('CandidateItemId')",
                      "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP3')",
                      "item/SendAfterDate": "@utcNow()",
                      "item/VerificationStatus/Value": "Pending"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "04e73bca-6507-4002-8a43-2557d810e9dc"
                  }
                },
                "Create_BGV_FormData_Row_E3": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
                      "item/Title": "@concat(variables('varCandidateID'), '|EMP3')",
                      "item/RecordKey": "@concat(variables('varCandidateID'), '|EMP3')",
                      "item/CandidateID": "@variables('varCandidateID')",
                      "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP3')",
                      "item/EmployerSlot/Value": "EMP3",
                      "item/CandidateItemID": "@outputs('CandidateItemId')",
                      "item/RecordItemID": "@outputs('Create_BGV_Request_Row_E3')?['body/ID']",
                      "item/Form1SubmittedAt": "@utcNow()",
                      "item/Form1RawJson": "@string(outputs('Get_response_details')?['body'])",
                      "item/F1_CandidateFullName": "@outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']",
                      "item/F1_CandidateEmail": "@outputs('Get_response_details')?['body/rcd8057cd92b24b5594681a5b39c07e3d']",
                      "item/F1_IDType/Value": "@if(not(empty(outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'])),'NRIC','Passport')",
                      "item/F1_IDNumberNRIC": "@outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49']",
                      "item/F1_IDNumberPassport": "@outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b']",
                      "item/F1_EmployerName": "@outputs('Get_response_details')?['body/r3e674ff5973e4d54b9f96952de10cd37']",
                      "item/F1_EmployerUEN": "@outputs('Get_response_details')?['body/rb8a84461cd104dfa9f323fd518129e52']",
                      "item/F1_EmployerAddress": "@outputs('Get_response_details')?['body/r1404dfb9fc5d4551abe6c3f4808dfa3a']",
                      "item/F1_EmployerPostalCode": "@outputs('Get_response_details')?['body/r2d958068e4064949b7207ee243c9dd12']",
                      "item/F1_JobTitle": "@outputs('Get_response_details')?['body/rd71dd57467e6403cbf9f162ad9863073']",
                      "item/F1_LastDrawnSalary": "@outputs('Get_response_details')?['body/r2c266cfd9f3e4ec6a9308aa6a7575660']",
                      "item/F1_ReasonForLeaving": "@coalesce(outputs('Get_response_details')?['body/r3c7e9cef2f37468fbdb8cb058ac11ce6'],'')",
                      "item/F1_EmploymentStartDate": "@if(empty(outputs('Get_response_details')?['body/r252a6b495a1548b08c3030617d883ea9']), null, outputs('Get_response_details')?['body/r252a6b495a1548b08c3030617d883ea9'])",
                      "item/F1_EmploymentEndDate": "@if(empty(outputs('Get_response_details')?['body/rf84549cedfd64afaa85c45865bce1b08']), null, outputs('Get_response_details')?['body/rf84549cedfd64afaa85c45865bce1b08'])",
                      "item/F1_HRContactName": "@outputs('Get_response_details')?['body/r036860f157014aaba9446454923fe35a']",
                      "item/F1_HREmail": "@outputs('Get_response_details')?['body/r7032b42718eb4a84a88453304c2ee557']",
                      "item/F1_HRMobile": "@outputs('Get_response_details')?['body/r86e14f2b43f14fb4b73d037806255613']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Create_BGV_Request_Row_E3": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "E3_Row_Check": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ee015f2-dce2-487c-82d5-12427f827ff9"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Is_E2_filled": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aab47ea2-6759-4803-bea9-8528f24d9b91"
          }
        },
        "E1_Row_Check": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
              "$filter": "@concat(\r\n  'RequestID eq ''REQ-',\r\n  variables('varCandidateID'),\r\n  '-EMP1'''\r\n)\r\n",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "CandidateItemId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1561da1-2115-496c-b040-fad36a9eca5b"
          }
        },
        "E1_Row_Check_Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@equals(length(body('E1_Row_Check')?['value']), 0)",
                  true
                ]
              }
            ]
          },
          "actions": {
            "Create_BGV_Request_Row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                  "item/Title": "@concat('REQ-', variables('varCandidateID'), '-EMP1')",
                  "item/CandidateID": "@variables('varCandidateID')",
                  "item/EmployerName": "@outputs('Get_response_details')?['body/rd186af3305c44a399ff007602a528c90']",
                  "item/EmployerHR_Email": "@outputs('Get_response_details')?['body/r99f0629822f44e1990ee2e00b3c2b442']",
                  "item/CandidateItemID/Id": "@outputs('CandidateItemId')",
                  "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP1')",
                  "item/SendAfterDate": "@if(and(equals(toLower(trim(string(outputs('Get_response_details')?['body/r0ed00b9df34d4ab6bb34235a2466ea5e']))), 'yes'), not(empty(outputs('Get_response_details')?['body/rad5353936be1480f9ffe08b3fde00739']))), outputs('Get_response_details')?['body/rad5353936be1480f9ffe08b3fde00739'], utcNow())",
                  "item/VerificationStatus/Value": "Pending"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "PostItem",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "metadata": {
                "operationMetadataId": "6e9dbe9d-f407-4a41-afff-64a8785e5844"
              }
            },
            "Create_BGV_FormData_Row_E1": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
                  "item/Title": "@concat(variables('varCandidateID'), '|EMP1')",
                  "item/RecordKey": "@concat(variables('varCandidateID'), '|EMP1')",
                  "item/CandidateID": "@variables('varCandidateID')",
                  "item/RequestID": "@concat('REQ-', variables('varCandidateID'), '-EMP1')",
                  "item/EmployerSlot/Value": "EMP1",
                  "item/CandidateItemID": "@outputs('CandidateItemId')",
                  "item/RecordItemID": "@outputs('Create_BGV_Request_Row')?['body/ID']",
                  "item/Form1SubmittedAt": "@utcNow()",
                  "item/Form1RawJson": "@string(outputs('Get_response_details')?['body'])",
                  "item/F1_CandidateFullName": "@outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']",
                  "item/F1_CandidateEmail": "@outputs('Get_response_details')?['body/rcd8057cd92b24b5594681a5b39c07e3d']",
                  "item/F1_IDType/Value": "@if(not(empty(outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49'])),'NRIC','Passport')",
                  "item/F1_IDNumberNRIC": "@outputs('Get_response_details')?['body/rd2fba2b09afd478ba21df420406c9b49']",
                  "item/F1_IDNumberPassport": "@outputs('Get_response_details')?['body/rf5b324c022804863a720ef13edeb9d9b']",
                  "item/F1_EmployerName": "@outputs('Get_response_details')?['body/rd186af3305c44a399ff007602a528c90']",
                  "item/F1_EmployerUEN": "@outputs('Get_response_details')?['body/re5312de7ff5641e38b9fe30752de0721']",
                  "item/F1_EmployerAddress": "@outputs('Get_response_details')?['body/re91050593c81419580fe2e7b6dc58d19']",
                  "item/F1_EmployerPostalCode": "@outputs('Get_response_details')?['body/r98441b417415436c804fd0d540acbf34']",
                  "item/F1_JobTitle": "@outputs('Get_response_details')?['body/r048c10ad09924a4ea7360b2bbe2203d9']",
                  "item/F1_LastDrawnSalary": "@outputs('Get_response_details')?['body/r7266236add10436d83e254a8ec5a2a07']",
                  "item/F1_ReasonForLeaving": "@coalesce(outputs('Get_response_details')?['body/r73ad46a6f6e34cb5a811f76061af5d59'],'')",
                  "item/F1_EmploymentStartDate": "@if(empty(outputs('Get_response_details')?['body/rf5ce346dbc2e4326b0e23bd037a5a405']), null, outputs('Get_response_details')?['body/rf5ce346dbc2e4326b0e23bd037a5a405'])",
                  "item/F1_EmploymentEndDate": "@if(empty(outputs('Get_response_details')?['body/rad5353936be1480f9ffe08b3fde00739']), null, outputs('Get_response_details')?['body/rad5353936be1480f9ffe08b3fde00739'])",
                  "item/F1_HRContactName": "@outputs('Get_response_details')?['body/r7f64c0a46334405a952868d9921d83bf']",
                  "item/F1_HREmail": "@outputs('Get_response_details')?['body/r99f0629822f44e1990ee2e00b3c2b442']",
                  "item/F1_HRMobile": "@outputs('Get_response_details')?['body/r627e3c5b0a874aaa90166f6babd66bd1']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "PostItem",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Create_BGV_Request_Row": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "E1_Row_Check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4f48fa6-fc06-4f7d-9d2e-e6b5ceb6ee99"
          }
        },
        "Send_an_email_from_a_shared_mailbox_(V2)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg",
              "emailMessage/To": "@outputs('Get_response_details')?['body/rcd8057cd92b24b5594681a5b39c07e3d']",
              "emailMessage/Subject": "Please Sign: Authorization Form - @{variables('varCandidateID')}",
              "emailMessage/Body": "<p class=\"editor-paragraph\">Dear @{outputs('Get_response_details')?['body/rfe96c622120343f294de908deb0e849d']},</p><br><p class=\"editor-paragraph\">This authorization form allows us to proceed with your background verification check.</p><br><p class=\"editor-paragraph\">Please review the form, sign it, and ensure that you confirm your signature by ticking the checkbox in the form. Note: A copy of your signed form will be sent to your email later on.</p><br><p class=\"editor-paragraph\">You may access the form using the link below:<br>@{outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']}</p><br><p class=\"editor-paragraph\">Kindly complete this as soon as possible to avoid delays in processing your background verification.</p><br><p class=\"editor-paragraph\">Thank you.</p><br><p class=\"editor-paragraph\">Best regards,<br>DL Resources Recruitment Team</p>",
              "emailMessage/Importance": "Normal"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "SharedMailboxSendEmailV2",
              "connectionName": "shared_office365-1"
            }
          },
          "runAfter": {
            "Create_sharing_link_for_a_file_or_folder": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
