flows/power-automate/unpacked/Workflows/BGV_4_SendToEmployer_Clean-FE4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Minute",
            "interval": "30",
            "startTime": "2026-02-26T02:00:00Z"
          },
          "evaluatedRecurrence": {
            "frequency": "Minute",
            "interval": "30",
            "startTime": "2026-02-26T02:00:00Z"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_items_(BGV_Requests)": {
          "runAfter": {
            "Initialize_variable_-_AuthFileContent": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
              "table": "4acba8e0-46aa-4007-b752-b4aa88fee7f7",
              "$filter": "VerificationStatus eq 'Pending' and HRRequestSentAt eq null"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_AuthFileName": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_AuthFileContent": {
          "runAfter": {
            "Initialize_variable_-_AuthFileName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AuthFileContent",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each_(Requests_Loop)": {
          "foreach": "@outputs('Get_items_(BGV_Requests)')?['body/value']",
          "actions": {
            "Get_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                  "table": "7b78dcaf-8744-478b-a40f-633ed7becff3",
                  "id": "@items('Apply_to_each_(Requests_Loop)')?['CandidateItemID/Id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_items_(BGV_FormData)": {
              "runAfter": {
                "Get_item": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                  "table": "f5248a99-fdf1-4660-946a-d54e00575a40",
                  "$filter": "@concat('RequestID eq ''', string(items('Apply_to_each_(Requests_Loop)')?['RequestID']), '''')",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetItems"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_-_AuthorisationSigned": {
              "actions": {
                "FinalVerificationLink": {
                  "type": "Compose",
                  "inputs": "@concat('https://forms.office.com/Pages/ResponsePage.aspx?id=cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u','&r4930fc603c0f4cada09832be79f2a76f=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName'],outputs('Get_item')?['body/FullName'],'')))),'&r27b6bdb850dd48339dc05df11d485470=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC'],first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport'],outputs('Get_item')?['body/IdentificationNumberNRIC'],outputs('Get_item')?['body/IdentificationNumberPassport'],'')))),'&rd745d133eb7f4611b59ea051f980f97a=',encodeUriComponent(trim(string(items('Apply_to_each_(Requests_Loop)')?['RequestID']))),'&rccaf3632669648baaa335c12d4ea40bf=',encodeUriComponent(trim(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'')))),'&rcf35c7cc008e472f9d0b84bde67cc1ff=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN']))),'&r19aae6e8163d4aaeb8a3f3f2d5329be2=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress']))),'&r0bef44c0d22d493f95a33484875b951e=',encodeUriComponent(if(and(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),'',if(or(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),formatDateTime(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate']),'yyyy-MM-dd'),concat(formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],'yyyy-MM-dd'),' to ',formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'],'yyyy-MM-dd'))))),'&ra6ab2e26d2d84a92b33148fc4694773a=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_LastDrawnSalary']))),'&r49ca8a655f5e4bcba0e8f75d4475ad77=',encodeUriComponent(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_JobTitle']))))"
                },
                "AuthFolderPath": {
                  "runAfter": {
                    "FinalVerificationLink": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@concat( \r\n\r\n  '/BGV Records/Candidate Files/', \r\n\r\n  body('Get_item')?['CandidateID'], \r\n\r\n  '/Authorization/' \r\n\r\n) "
                },
                "Get_files_(properties_only)": {
                  "runAfter": {
                    "AuthFolderPath": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                      "table": "d411563f-2b1c-4fa5-90fc-ecc5f50941a1",
                      "folderPath": "@outputs('AuthFolderPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetFileItems"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each": {
                  "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
                  "actions": {
                    "Get_file_content": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                          "id": "@items('For_each')?['{Identifier}']",
                          "inferContentType": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContent"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Get_file_content": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AuthFileName",
                        "value": "@items('For_each')?['{Name}']"
                      }
                    },
                    "Set_variable_1": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AuthFileContent",
                        "value": "@{body('Get_file_content')}"
                      }
                    },
                    "Condition_-_if_file_exist_": {
                      "actions": {
                        "Send_an_email_(V2)": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "emailMessage/To": "@if(contains(trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),'@'),trim(string(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_HREmail'])),if(contains(trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),'@'),trim(string(items('Apply_to_each_(Requests_Loop)')?['EmployerHR_Email'])),'dlresplmain@dlresources.com.sg'))",
                              "emailMessage/Subject": "Background Verification Request - @{outputs('Get_item')?['body/FullName']}",
                              "emailMessage/Body": "<p class=\"editor-paragraph\">Hi Sir/Maam,</p><br><p class=\"editor-paragraph\">@{outputs('Get_item')?['body/FullName']} has provided us with your contact to do a background verification check as part of our hiring process.</p><br><p class=\"editor-paragraph\">Declared company details from candidate:</p><p class=\"editor-paragraph\">- Company Name: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Requests_Loop)')?['EmployerName'],'(Not captured)')}<br>- Company Address: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress'],items('Apply_to_each_(Requests_Loop)')?['EmployerAddress'],items('Apply_to_each_(Requests_Loop)')?['Employer_Address'],'(Not captured)')}<br>- Company UEN: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['EmployerUEN'],items('Apply_to_each_(Requests_Loop)')?['Employer_UEN'],'(Not captured)')}</p><br><p class=\"editor-paragraph\">We kindly ask that you help us to fill up this form:<br><a href=\"@{outputs('FinalVerificationLink')}\" class=\"editor-link\"><br><br>Click here to complete verification</a></p><br><p class=\"editor-paragraph\">We have attached the authorisation form to conduct this check signed by @{outputs('Get_item')?['body/FullName']}, for your reference as well.</p><br><p class=\"editor-paragraph\">Thank you.<a href=\"@{outputs('FinalVerificationLink')}\" class=\"editor-link\"></a><a href=\"@{outputs('FinalVerificationLink')}\" class=\"editor-link\"><br></a></p>",
                              "emailMessage/Attachments": [
                                {
                                  "Name": "@variables('AuthFileName')",
                                  "ContentBytes": "@body('Get_file_content')"
                                }
                              ],
                              "emailMessage/Importance": "Normal",
                              "emailMessage/MailboxAddress": "DLRRecruitmentOps@dlresources.com.sg"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                              "connectionName": "shared_office365",
                              "operationId": "SharedMailboxSendEmailV2"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Update_item_-_BGV_Requests": {
                          "runAfter": {
                            "Send_an_email_(V2)": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                              "table": "4acba8e0-46aa-4007-b752-b4aa88fee7f7",
                              "id": "@items('Apply_to_each_(Requests_Loop)')?['ID']",
                              "item/HRRequestSentAt": "@utcNow()",
                              "item/VerificationStatus/Value": "Sent"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "connectionName": "shared_sharepointonline",
                              "operationId": "PatchItem"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Set_variable_1": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@not(empty(variables('AuthFileContent')))",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@or(\r\n  empty(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate']),\r\n  lessOrEquals(\r\n    formatDateTime(items('Apply_to_each_(Requests_Loop)')?['SendAfterDate'], 'yyyy-MM-dd'),\r\n    formatDateTime(utcNow(), 'yyyy-MM-dd')\r\n  )\r\n)",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Get_files_(properties_only)": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_items_(BGV_FormData)": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Get_item')?['body/AuthorisationSigned']",
                      "@true"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_items_(BGV_Requests)": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
