flows/power-automate/unpacked/Workflows/BGV_5_Response1-FD4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedmicrosoftforms_a2caf"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "13c8e110-4071-46f6-98e8-54e2abffeaac"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d3fa66ed-a14d-4b64-9742-92945ff59bbe"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_items": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4d2da6b-4636-44f3-8d2e-dee82bb31fb3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
              "$filter": "startswith(RequestID, '@{outputs('Get_response_details')?['body/rd745d133eb7f4611b59ea051f980f97a']}')",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_items_(BGV_FormData)": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
              "$filter": "@concat('RequestID eq ''', outputs('Get_response_details')?['body/rd745d133eb7f4611b59ea051f980f97a'], '''')",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_-_if_row_found": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('Get_items')?['body/value']",
              "actions": {
                "Condition_-_MAS": {
                  "actions": {
                    "Set_variable_-_Severity_1": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varSeverity",
                        "value": "High"
                      }
                    },
                    "Set_variable_-_Outcome_1": {
                      "runAfter": {
                        "Set_variable_-_Severity_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": "Needs Clarification"
                      }
                    },
                    "Set_variable_-_Notify_Teams_1": {
                      "runAfter": {
                        "Set_variable_-_Outcome_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_1": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[High] MAS misconduct was reported : @{outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4']}"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4']",
                            "No / Not Applicable"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Disciplinary": {
                  "actions": {
                    "Set_variable_-_Severity_2": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varSeverity",
                        "value": "High"
                      }
                    },
                    "Set_variable_-_Outcome_2": {
                      "runAfter": {
                        "Set_variable_-_Severity_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": "Needs Clarification"
                      }
                    },
                    "Set_variable_-_Notify_Teams_2": {
                      "runAfter": {
                        "Set_variable_-_Outcome_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_2": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[High] Disciplinary Actions was disclosed : @{outputs('Get_response_details')?['body/r35197d5910d2489db0d5786157b35295']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_MAS": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r96d079f9858e40bab89ab0ea4ad23931']",
                          "Yes"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Re-employ": {
                  "actions": {
                    "Condition_-_Severity_High": {
                      "actions": {
                        "Set_variable_-_Severity_3": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "Medium"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@not(equals(variables('varSeverity'),'High'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Set_variable_-_Outcome_3": {
                      "runAfter": {
                        "Condition_-_Severity_High": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": "Needs Clarification"
                      }
                    },
                    "Set_variable_-_Notify_Teams_3": {
                      "runAfter": {
                        "Set_variable_-_Outcome_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_3": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[Medium] Employer would not re-employ the candidate.\n\nReason: @{outputs('Get_response_details')?['body/r5f7ebc3390bc4699b160504c65254c3e']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Disciplinary": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/rafe3ada4157c49fb9e555cd0fb53bd59']",
                          "No"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Info_Provided": {
                  "actions": {
                    "Condition_-_Severity_Low": {
                      "actions": {
                        "Set_variable_-_Severity_4": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "Low"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(variables('varSeverity'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Append_to_string_variable_-_Notify_Body_4": {
                      "runAfter": {
                        "Condition_-_Severity_Low": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[Low] Information provided was not fully accurate. \n\nSelected issues: @{outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029']}\n\nExplanations: \n-Employment Period: @{outputs('Get_response_details')?['body/r9a95095b3d7d4d9f8bc985025614bd79']}\n-Job Title/Position: @{outputs('Get_response_details')?['body/r83027392ccb043e2a637b06ff4b54ac8']}\n-Remuneration Package: @{outputs('Get_response_details')?['body/r4061a9d19aae45d9915d2f508a5c3ea9']}\n-Other abnormalities: @{outputs('Get_response_details')?['body/ra15c799c557d42d1bcee1de947c29466']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Re-employ": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r9594fab1bfa04c90883b1dffd7f4549e']",
                          "No"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Contact": {
                  "actions": {
                    "Set_variable_-_Notify_Teams_5": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_4": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_5": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[Action Required] Employer requested follow up."
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Company_Details_Discrepancy": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r57e4baaeaafc4ffc8b3977149b18f2f2']",
                          "Please contact me for further clarification"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Company_Details_Discrepancy": {
                  "actions": {
                    "Append_to_string_variable_-_Notify_Body_Company_Details": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "\n\n[Company Details] Accuracy: @{coalesce(outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0'],'(blank)')}\nSelected fields: @{coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'(blank)')}\nExplanation: @{coalesce(outputs('Get_response_details')?['body/ra03058e9bbfd40d28014b0c669e92434'],'(blank)')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Info_Provided": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "or": [
                          {
                            "equals": [
                              "@outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0']",
                              "No"
                            ]
                          },
                          {
                            "not": {
                              "equals": [
                                "@coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'')",
                                ""
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@coalesce(outputs('Get_response_details')?['body/ra03058e9bbfd40d28014b0c669e92434'],'')",
                                ""
                              ]
                            }
                          }
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Update_item_-_of_BGV_Request": {
                  "runAfter": {
                    "Condition_-_Contact": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "a27f05fc-84e5-4784-b7ee-ef6e1d145284",
                      "id": "@items('Apply_to_each')?['ID']",
                      "item/Title": "@items('Apply_to_each')?['Title']",
                      "item/ResponseReceivedAt": "@utcNow()",
                      "item/Outcome/Value": "@variables('varOutcome')",
                      "item/Notes": "@variables('varNotifyBody')",
                      "item/Status/Value": "Completed",
                      "item/Severity/Value": "@variables('varSeverity')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_-_if_FormData_row_found": {
                  "actions": {
                    "Update_item_-_BGV_FormData": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "272ed87f-f02c-4cf4-9bb5-e36d88c3593e",
                          "id": "@first(body('Get_items_(BGV_FormData)')?['value'])?['ID']",
                          "item/Title": "@first(body('Get_items_(BGV_FormData)')?['value'])?['Title']",
                          "item/RequestID": "@outputs('Get_response_details')?['body/rd745d133eb7f4611b59ea051f980f97a']",
                          "item/CandidateID": "@items('Apply_to_each')?['CandidateID']",
                          "item/RecordItemID": "@items('Apply_to_each')?['ID']",
                          "item/Form2SubmittedAt": "@utcNow()",
                          "item/Form2RawJson": "@string(outputs('Get_response_details')?['body'])",
                          "item/F2_InformationAccurate": "@equals(outputs('Get_response_details')?['body/r9594fab1bfa04c90883b1dffd7f4549e'],'Yes')",
                          "item/F2_SelectedIssues": "@outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029']",
                          "item/F2_EmployerWouldReEmploy": "@equals(outputs('Get_response_details')?['body/rafe3ada4157c49fb9e555cd0fb53bd59'],'Yes')",
                          "item/F2_ReEmployReason": "@outputs('Get_response_details')?['body/r5f7ebc3390bc4699b160504c65254c3e']",
                          "item/F2_ReasonForLeaving": "@coalesce(outputs('Get_response_details')?['body/r513ad5ab3a14453286bdb910820985ec'],'')",
                          "item/F2_Severity/Value": "@variables('varSeverity')",
                          "item/F2_Outcome": "@variables('varOutcome')",
                          "item/F2_Notes": "@variables('varNotifyBody')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "PatchItem"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_item_-_of_BGV_Request": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Get_items_(BGV_FormData)')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Notifying_Teams": {
                  "actions": {
                    "Post_message_in_a_chat_or_channel": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "poster": "Flow bot",
                          "location": "Channel",
                          "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                          "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                          "body/messageBody": "<p class=\"editor-paragraph\">BGV Response Submitted for @{outputs('Update_item_-_of_BGV_Request')?['body/CandidateItemID_x003a__x0020_Ful/Value']}</p><br><p class=\"editor-paragraph\">Employer: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerName']}, @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerHR_Email']}</p><br><p class=\"editor-paragraph\">Request ID: @{outputs('Update_item_-_of_BGV_Request')?['body/RequestID']}</p><p class=\"editor-paragraph\">Severity: @{variables('varSeverity')}</p><p class=\"editor-paragraph\">Outcome: @{variables('varOutcome')}</p><br><p class=\"editor-paragraph\">Details: <br>@{variables('varNotifyBody')}</p><br>"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "connectionName": "shared_teams",
                          "operationId": "PostMessageToConversation"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_if_FormData_row_found": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@variables('varNotifyTeams')",
                          true
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Send_Email": {
                  "actions": {
                    "Send_an_email_-_High_Severity_(V2)": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "recruitmentops@dlresources.com.sg",
                          "emailMessage/Subject": "HIGH BGV FLAG - @{outputs('Update_item_-_of_BGV_Request')?['body/RequestID']}, @{outputs('Update_item_-_of_BGV_Request')?['body/CandidateItemID_x003a__x0020_Ful/Value']}",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">A High Severity BGV issue has been flagged. <br><br>Employer: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerName']}<br>Employer HR Email: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerHR_Email']}<br><br>Severity: High<br><br>Details: @{variables('varNotifyBody')}</p>",
                          "emailMessage/Importance": "Normal",
                          "emailMessage/MailboxAddress": "recruitmentops@dlresources.com.sg"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SharedMailboxSendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Notifying_Teams": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@equals(variables('varSeverity'),'High')",
                          true
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Send_an_email_(V2)_1": {
                  "runAfter": {
                    "Condition_-_Send_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "recruitmentops@dlresources.com.sg",
                      "emailMessage/Subject": "BGV Reponse Received - @{outputs('Update_item_-_of_BGV_Request')?['body/RequestID']},@{outputs('Update_item_-_of_BGV_Request')?['body/CandidateItemID_x003a__x0020_Ful/Value']}",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">The employer verification response has been received for @{outputs('Update_item_-_of_BGV_Request')?['body/CandidateItemID_x003a__x0020_Ful/Value']}.<br><br>Employer: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerName']}<br><br>Status : Completed<br><br>Severity: @{variables('varSeverity')} -- Please check the form for clarifications</p>",
                      "emailMessage/Importance": "Normal",
                      "emailMessage/MailboxAddress": "recruitmentops@dlresources.com.sg"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SharedMailboxSendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "bd4fe130-8d4a-4091-a0ce-3cf66e441e09"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_-_Notify_Teams": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "message": "Failed"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Get_items')?['value'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "c5ae9f15-653b-4fb3-919a-82031eda2b1f"
          },
          "type": "If"
        },
        "Initialize_variable_-_Severity": {
          "runAfter": {
            "Get_items_(BGV_FormData)": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSeverity",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Outcome": {
          "runAfter": {
            "Initialize_variable_-_Severity": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOutcome",
                "type": "string",
                "value": "Verified"
              }
            ]
          }
        },
        "Initialize_variable_-_Notify_Teams": {
          "runAfter": {
            "Initialize_variable_-_Notify_Body": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNotifyTeams",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_variable_-_Notify_Body": {
          "runAfter": {
            "Initialize_variable_-_Outcome": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNotifyBody",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
