flows/power-automate/unpacked/Workflows/BGV_3_AuthReminder_5Days-FF4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": "1",
            "startTime": "2026-02-05T09:00:00Z"
          },
          "evaluatedRecurrence": {
            "frequency": "Day",
            "interval": "1",
            "startTime": "2026-02-05T09:00:00Z"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
              "table": "7b78dcaf-8744-478b-a40f-633ed7becff3",
              "$filter": "Status eq 'Pending Authorization Form Signature'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {},
              "else": {
                "actions": {
                  "Condition_1": {
                    "actions": {
                      "DaysSinceLink": {
                        "type": "Compose",
                        "inputs": "@div( \n\n  sub(ticks(utcNow()), ticks(items('Apply_to_each')?['AuthorizationLinkCreatedAt'])), \n\n  864000000000 \n\n) "
                      },
                      "Condition_2": {
                        "actions": {
                          "Condition__-_not_reminded_today_": {
                            "actions": {
                              "Send_an_email_(V2)": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "emailMessage/To": "@items('Apply_to_each')?['CandidateEmail']",
                                    "emailMessage/Subject": "Reminder: Please complete your authorization form",
                                    "emailMessage/Body": "<p class=\"editor-paragraph\"><br>This is a reminder to complete your authorization form required for verification step. Note: These reminder emails will stop when you have completed the form.</p><br><p class=\"editor-paragraph\">Link: @{items('Apply_to_each')?['AuthorizationLink']}<br><br>Thank you,</p><p class=\"editor-paragraph\">D L Resources</p>",
                                    "emailMessage/Importance": "Normal",
                                    "emailMessage/MailboxAddress": "recruitmentops@dlresources.com.sg"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                    "connectionName": "shared_office365",
                                    "operationId": "SharedMailboxSendEmailV2"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Update_item_-_lastauthremindersentat": {
                                "runAfter": {
                                  "Send_an_email_(V2)": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "dataset": "https://dlresourcespl88.sharepoint.com/sites/dlrespl",
                                    "table": "7b78dcaf-8744-478b-a40f-633ed7becff3",
                                    "id": "@items('Apply_to_each')?['ID']",
                                    "item/LastAuthReminderAt": "@utcNow()"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "PatchItem"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Condition_4_-_escalation_check": {
                                "actions": {
                                  "Post_message_in_a_chat_or_channel": {
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "poster": "Flow bot",
                                        "location": "Channel",
                                        "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                                        "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                                        "body/messageBody": "<p class=\"editor-paragraph\">Day 5 - Authorization form NOT SUBMITTED</p><br><p class=\"editor-paragraph\">Candidate : @{items('Apply_to_each')?['FullName']}</p><p class=\"editor-paragraph\">Candidate ID: @{items('Apply_to_each')?['CandidateID']}</p><p class=\"editor-paragraph\"><br>Authorization Link: @{items('Apply_to_each')?['AuthorizationLink']}</p>"
                                      },
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                        "connectionName": "shared_teams",
                                        "operationId": "PostMessageToConversation"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Send_an_email_(V2)_1": {
                                    "runAfter": {
                                      "Post_message_in_a_chat_or_channel": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "emailMessage/To": "recruitmentops@dlresources.com.sg",
                                        "emailMessage/Subject": "[Day 5 ALERT} Authorization Form Not Submitted ",
                                        "emailMessage/Body": "<p class=\"editor-paragraph\">Hi Team,</p><br><p class=\"editor-paragraph\">Candidate has not completed the Authorization Form after 5 days of reminder. Please ask applicant to fill it up.</p><br><p class=\"editor-paragraph\">Candidate: @{outputs('Update_item_-_lastauthremindersentat')?['body/FullName']}<br>Candidate ID: @{outputs('Update_item_-_lastauthremindersentat')?['body/CandidateID']}</p><p class=\"editor-paragraph\">Candidate Email: @{outputs('Update_item_-_lastauthremindersentat')?['body/CandidateEmail']}<br>Status: @{items('Apply_to_each')?['Status/Value']}<br><br>Authorization Link: @{outputs('Update_item_-_lastauthremindersentat')?['body/AuthorizationLink']}</p>",
                                        "emailMessage/Importance": "Normal",
                                        "emailMessage/MailboxAddress": "recruitmentops@dlresources.com.sg"
                                      },
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                        "connectionName": "shared_office365",
                                        "operationId": "SharedMailboxSendEmailV2"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Update_item_-_lastauthremindersentat": [
                                    "Succeeded"
                                  ]
                                },
                                "else": {
                                  "actions": {}
                                },
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@outputs('DaysSinceLink')",
                                        5
                                      ]
                                    }
                                  ]
                                },
                                "type": "If"
                              }
                            },
                            "else": {
                              "actions": {}
                            },
                            "expression": {
                              "or": [
                                {
                                  "equals": [
                                    "@empty(items('Apply_to_each')?['LastAuthReminderAt']) ",
                                    true
                                  ]
                                },
                                {
                                  "equals": [
                                    "@not(equals(formatDateTime(items('Apply_to_each')?['LastAuthReminderAt'],'yyyy-MM-dd'), formatDateTime(utcNow(),'yyyy-MM-dd'))) ",
                                    true
                                  ]
                                }
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "DaysSinceLink": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "greaterOrEquals": [
                                "@outputs('DaysSinceLink')",
                                1
                              ]
                            },
                            {
                              "lessOrEquals": [
                                "@outputs('DaysSinceLink')",
                                5
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@items('Apply_to_each')?['Status/Value']",
                            "Pending Authorization Form Signature"
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@toLower(string(items('Apply_to_each')?['AuthorisationSigned']))",
                      "true"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
