flows/power-automate/unpacked/Workflows/BGV_2_Postsignature-A45CA9C0-E4F1-F011-8406-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "65747b59-c6b0-4671-ae37-79e35ad84c48"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "recurrence": {
            "frequency": "Minute",
            "interval": 1
          },
          "splitOn": "@triggerOutputs()?['body/value']"
        }
      },
      "actions": {
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['Status/Value']",
                  "Obtained Authorization Form Signature"
                ]
              }
            ]
          },
          "actions": {
            "Compose": {
              "type": "Compose",
              "inputs": "@{trim(concat('/BGV Records/Candidate Files/', triggerBody()?['CandidateID'], '/Authorization/'))}"
            },
            "Get_files_(properties_only)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                  "table": "8bab5b4d-b441-4f3f-99d4-5bf49557a8e9",
                  "folderPath": "@outputs('Compose')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Get_files_(properties_only)')?['body/value']",
              "actions": {
                "Get_file_content": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "id": "@items('For_each')?['{Identifier}']",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Compose_Base64_for_Lock": {
                  "type": "Compose",
                  "inputs": "@base64(body('Get_file_content'))",
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  }
                },
                "HTTP_-_Lock_Authorization_Content_Controls": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@replace('__BGV_DOCX_PARSER_URI__','parseauthorizationcontrols','lockauthorizationcontrols')",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "fileName": "@{items('For_each')?['{FilenameWithExtension}']}",
                      "docxBase64": "@{outputs('Compose_Base64_for_Lock')}"
                    }
                  },
                  "runAfter": {
                    "Compose_Base64_for_Lock": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Update_file_content_with_locked_controls": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "id": "@items('For_each')?['{Identifier}']",
                      "body": "@base64ToBinary(body('HTTP_-_Lock_Authorization_Content_Controls')?['lockedDocxBase64'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "UpdateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "HTTP_-_Lock_Authorization_Content_Controls": [
                      "Succeeded"
                    ]
                  }
                },
                "Stop_sharing_an_item_or_a_file": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "8bab5b4d-b441-4f3f-99d4-5bf49557a8e9",
                      "id": "@items('For_each')?['ID']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "UnshareItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Update_file_content_with_locked_controls": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_files_(properties_only)": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {}
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
