flows/power-automate/unpacked/Workflows/BGV_5_Response1-FD4BF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedmicrosoftforms_a2caf"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedoffice365_bdd97"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "13c8e110-4071-46f6-98e8-54e2abffeaac"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d3fa66ed-a14d-4b64-9742-92945ff59bbe"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "cHRZOFNHGkaDf62MFIYLIq9-liquOypMpApm-AyRSqVUN1c5NE0wWEI2Nk1OMDlJSkI0N0RXUTRHMS4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_items": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4d2da6b-4636-44f3-8d2e-dee82bb31fb3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "df824861-8e10-4a8c-ad88-f7cf1ef3ef26",
              "$filter": "startswith(RequestID, '@{outputs('Get_response_details')?['body/rd745d133eb7f4611b59ea051f980f97a']}')",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_items_(BGV_FormData)": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "f271b227-c654-4241-8968-054dc7f1d47c",
              "$filter": "@concat('RecordItemID eq ', string(first(outputs('Get_items')?['body/value'])?['ID']))",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_-_if_row_found": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('Get_items')?['body/value']",
              "actions": {
                "Condition_-_MAS": {
                  "actions": {
                    "Set_variable_-_Severity_1": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varSeverity",
                        "value": "High"
                      }
                    },
                    "Set_variable_-_Outcome_1": {
                      "runAfter": {
                        "Set_variable_-_Severity_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": ", MAS"
                      }
                    },
                    "Set_variable_-_Notify_Teams_1": {
                      "runAfter": {
                        "Set_variable_-_Outcome_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_1": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[High] MAS misconduct was reported : @{outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4']}"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_1": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "[High] MAS misconduct was reported : @{outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4']}"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4']",
                            "No / Not Applicable"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Disciplinary": {
                  "actions": {
                    "Set_variable_-_Severity_2": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varSeverity",
                        "value": "High"
                      }
                    },
                    "Set_variable_-_Outcome_2": {
                      "runAfter": {
                        "Set_variable_-_Severity_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": ", Disciplinary"
                      }
                    },
                    "Set_variable_-_Notify_Teams_2": {
                      "runAfter": {
                        "Set_variable_-_Outcome_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_2": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[High] Disciplinary Actions was disclosed : @{outputs('Get_response_details')?['body/r35197d5910d2489db0d5786157b35295']}"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_2": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_2": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "[High] Disciplinary Actions was disclosed : @{outputs('Get_response_details')?['body/r35197d5910d2489db0d5786157b35295']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_MAS": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r96d079f9858e40bab89ab0ea4ad23931']",
                          "Yes"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Re-employ": {
                  "actions": {
                    "Condition_-_Severity_High": {
                      "actions": {
                        "Set_variable_-_Severity_3": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "High"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@not(equals(variables('varSeverity'),'High'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Set_variable_-_Outcome_3": {
                      "runAfter": {
                        "Condition_-_Severity_High": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": ", Re-employ"
                      }
                    },
                    "Set_variable_-_Notify_Teams_3": {
                      "runAfter": {
                        "Set_variable_-_Outcome_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_3": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[High] Employer would not re-employ the candidate.\n\nReason: @{outputs('Get_response_details')?['body/r5f7ebc3390bc4699b160504c65254c3e']}"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_3": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "[High] Employer would not re-employ the candidate."
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Disciplinary": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/rafe3ada4157c49fb9e555cd0fb53bd59']",
                          "No"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Info_Provided": {
                  "actions": {
                    "Condition_-_Severity_Low": {
                      "actions": {
                        "Set_variable_-_Severity_4": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "Medium"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(variables('varSeverity'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Append_to_string_variable_-_Outcome_Employment_Details": {
                      "runAfter": {
                        "Condition_-_Severity_Low": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": "@concat(', ',if(empty(trim(replace(replace(replace(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'[',''),']',''),'\\\"',''))),'Employment Details',trim(replace(replace(replace(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'[',''),']',''),'\\\"',''))))"
                      }
                    },
                    "Set_variable_-_Notify_Teams_4": {
                      "runAfter": {
                        "Append_to_string_variable_-_Outcome_Employment_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_4": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "@concat('[Medium] Employment details were not fully accurate.\\n\\nSelected issues: ',coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'(blank)'),if(or(contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Employment Period'),contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Last Position Held'),contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Job Title/Position'),contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Remuneration Package'),contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Other abnormalities')),concat('\\n\\nExplanations:',if(contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Employment Period'),concat('\\n-Employment Period: ',coalesce(outputs('Get_response_details')?['body/r9a95095b3d7d4d9f8bc985025614bd79'],'')),''),if(or(contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Last Position Held'),contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Job Title/Position')),concat('\\n-Job Title/Position: ',coalesce(outputs('Get_response_details')?['body/r83027392ccb043e2a637b06ff4b54ac8'],'')),''),if(contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Remuneration Package'),concat('\\n-Remuneration Package: ',coalesce(outputs('Get_response_details')?['body/r4061a9d19aae45d9915d2f508a5c3ea9'],'')),''),if(contains(string(coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'')),'Other abnormalities'),concat('\\n-Other abnormalities: ',coalesce(outputs('Get_response_details')?['body/ra15c799c557d42d1bcee1de947c29466'],'')),'')),''))"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_4": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "@concat('[Medium] Employment details were not fully accurate.\\n\\nSelected issues: ',coalesce(outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029'],'(blank)'))"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Re-employ": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r9594fab1bfa04c90883b1dffd7f4549e']",
                          "No"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Contact": {
                  "actions": {
                    "Set_variable_-_Notify_Teams_5": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varNotifyTeams",
                        "value": true
                      }
                    },
                    "Append_to_string_variable_4": {
                      "runAfter": {
                        "Set_variable_-_Notify_Teams_5": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[Action Required] Employer requested follow up."
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_5": {
                      "runAfter": {
                        "Append_to_string_variable_4": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "[Action Required] Employer requested follow up."
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Company_Details_Discrepancy": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Get_response_details')?['body/r57e4baaeaafc4ffc8b3977149b18f2f2']",
                          "Please contact me for further clarification"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Company_Details_Discrepancy": {
                  "actions": {
                    "Condition_-_Severity_Low_Company_Details": {
                      "actions": {
                        "Set_variable_-_Severity_Company_Details": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "Low"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(variables('varSeverity'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Append_to_string_variable_-_Outcome_Company_Details": {
                      "runAfter": {
                        "Condition_-_Severity_Low_Company_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": "@concat(', ',if(empty(trim(replace(replace(replace(string(coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'')),'[',''),']',''),'\\\"',''))),'Company Details',trim(replace(replace(replace(string(coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'')),'[',''),']',''),'\\\"',''))))"
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_Company_Details": {
                      "runAfter": {
                        "Append_to_string_variable_-_Outcome_Company_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "\n\n[Low] Company details were not fully accurate.\nAccuracy: @{coalesce(outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0'],'(blank)')}\nSelected fields: @{coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'(blank)')}\nExplanation: @{coalesce(outputs('Get_response_details')?['body/ra03058e9bbfd40d28014b0c669e92434'],'(blank)')}"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_Company_Details": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_Company_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "@concat('\\n\\n[Low] Company details were not fully accurate.\\nAccuracy: ',coalesce(outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0'],'(blank)'),'\\nSelected fields: ',coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'(blank)'))"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Info_Provided": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "or": [
                          {
                            "equals": [
                              "@outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0']",
                              "No"
                            ]
                          },
                          {
                            "not": {
                              "equals": [
                                "@coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'')",
                                ""
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@coalesce(outputs('Get_response_details')?['body/ra03058e9bbfd40d28014b0c669e92434'],'')",
                                ""
                              ]
                            }
                          }
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Other_Comments": {
                  "actions": {
                    "Condition_-_Severity_Neutral": {
                      "actions": {
                        "Set_variable_-_Severity_6": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varSeverity",
                            "value": "Low"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(variables('varSeverity'))",
                              true
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Append_to_string_variable_-_Outcome_Other_Comments": {
                      "runAfter": {
                        "Condition_-_Severity_Neutral": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varOutcome",
                        "value": ", Other Comments"
                      }
                    },
                    "Append_to_string_variable_-_Notify_Body_Other_Comments": {
                      "runAfter": {
                        "Append_to_string_variable_-_Outcome_Other_Comments": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varNotifyBody",
                        "value": "[Low] Other comments were provided.\n\nComment: @{outputs('Get_response_details')?['body/rab9c2a586db943b18ac02367d3b1d3f7']}"
                      }
                    },
                    "Append_to_string_variable_-_Request_Notes_Other_Comments": {
                      "runAfter": {
                        "Append_to_string_variable_-_Notify_Body_Other_Comments": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "@concat('[Low] Other comments were provided.\\nComment: ',coalesce(outputs('Get_response_details')?['body/rab9c2a586db943b18ac02367d3b1d3f7'],''))"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Contact": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/rab9c2a586db943b18ac02367d3b1d3f7'],'')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Additional_Comments_Summary": {
                  "actions": {
                    "Append_to_string_variable_-_Request_Notes_Additional_Comments": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "varRequestNotesBody",
                        "value": "\n\nPlease refer to the report summary for additional comments."
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Other_Comments": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "or": [
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/r5f7ebc3390bc4699b160504c65254c3e'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/r9a95095b3d7d4d9f8bc985025614bd79'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/r83027392ccb043e2a637b06ff4b54ac8'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/r4061a9d19aae45d9915d2f508a5c3ea9'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/ra15c799c557d42d1bcee1de947c29466'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/ra03058e9bbfd40d28014b0c669e92434'],'')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_response_details')?['body/rab9c2a586db943b18ac02367d3b1d3f7'],'')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Update_item_-_of_BGV_Request": {
                  "runAfter": {
                    "Condition_-_Additional_Comments_Summary": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "df824861-8e10-4a8c-ad88-f7cf1ef3ef26",
                      "id": "@items('Apply_to_each')?['ID']",
                      "item/Title": "@items('Apply_to_each')?['Title']",
                      "item/ResponseReceivedAt": "@utcNow()",
                      "item/Outcome/Value": "@if(empty(trim(variables('varOutcome'))),'None',if(startsWith(variables('varOutcome'),', '),substring(variables('varOutcome'),2,sub(length(variables('varOutcome')),2)),variables('varOutcome')))",
                      "item/BGV_x0020_Checks": "@if(empty(variables('varSeverity')),'Form Filled and Cleared','Adverse PEV Checks - see severity')",
                      "item/Notes": "@variables('varRequestNotesBody')",
                      "item/Severity/Value": "@variables('varSeverity')",
                      "item/VerificationStatus/Value": "Responded"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PatchItem"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_-_if_FormData_row_found": {
                  "actions": {
                    "Update_item_-_BGV_FormData": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "f271b227-c654-4241-8968-054dc7f1d47c",
                          "id": "@first(body('Get_items_(BGV_FormData)')?['value'])?['ID']",
                          "item/Title": "@first(body('Get_items_(BGV_FormData)')?['value'])?['Title']",
                          "item/RequestID": "@outputs('Get_response_details')?['body/rd745d133eb7f4611b59ea051f980f97a']",
                          "item/CandidateID": "@items('Apply_to_each')?['CandidateID']",
                          "item/RecordItemID": "@items('Apply_to_each')?['ID']",
                          "item/Form2SubmittedAt": "@utcNow()",
                          "item/Form2RawJson": "@string(outputs('Get_response_details')?['body'])",
                          "item/F2_InformationAccurate": "@equals(outputs('Get_response_details')?['body/r9594fab1bfa04c90883b1dffd7f4549e'],'Yes')",
                          "item/F2_SelectedIssues": "@outputs('Get_response_details')?['body/r72b23e4aa192405091846e1279085029']",
                          "item/F2_CompanyDetailsAccurate": "@equals(outputs('Get_response_details')?['body/r2d39255c2449439096683ca0e39241b0'],'Yes')",
                          "item/F2_CompanyDetailsSelectedIssues": "@coalesce(outputs('Get_response_details')?['body/rd05170e51ac34fef95f5464cf348bedc'],'')",
                          "item/F2_MASQuestion": "@coalesce(outputs('Get_response_details')?['body/r7bd26b4a7e94430dbda54f9e8b8212e4'],'')",
                          "item/F2_DisciplinaryAction": "@equals(outputs('Get_response_details')?['body/r96d079f9858e40bab89ab0ea4ad23931'],'Yes')",
                          "item/F2_EmployerWouldReEmploy": "@equals(outputs('Get_response_details')?['body/rafe3ada4157c49fb9e555cd0fb53bd59'],'Yes')",
                          "item/F2_ReEmployReason": "@outputs('Get_response_details')?['body/r5f7ebc3390bc4699b160504c65254c3e']",
                          "item/F2_ReasonForLeaving": "@coalesce(outputs('Get_response_details')?['body/r513ad5ab3a14453286bdb910820985ec'],'')",
                          "item/F2_ContactForClarification": "@coalesce(outputs('Get_response_details')?['body/r57e4baaeaafc4ffc8b3977149b18f2f2'],'')",
                          "item/F2_OtherComments": "@coalesce(outputs('Get_response_details')?['body/rab9c2a586db943b18ac02367d3b1d3f7'],'')",
                          "item/F2_FormCompleterName": "@coalesce(outputs('Get_response_details')?['body/r1f2d7ec255b1430fbb2a6e56ce4042d1'],'')",
                          "item/F2_FormCompleterJobTitle": "@coalesce(outputs('Get_response_details')?['body/r7b65617c391a48239b9f75dd239702c3'],'')",
                          "item/F2_FormCompleterContactDetails": "@coalesce(outputs('Get_response_details')?['body/reb80c95cd24242998cbc884c24254bed'],'')",
                          "item/F2_CompanyStampFileName": "@if(contains(string(outputs('Get_response_details')?['body']), '\\\"name\\\":\\\"'), first(split(last(split(string(outputs('Get_response_details')?['body']), '\\\"name\\\":\\\"')), '\\\"')), 'No file uploaded')",
                          "item/F2_Severity/Value": "@variables('varSeverity')",
                          "item/F2_Outcome": "@if(empty(trim(variables('varOutcome'))),'None',if(startsWith(variables('varOutcome'),', '),substring(variables('varOutcome'),2,sub(length(variables('varOutcome')),2)),variables('varOutcome')))",
                          "item/F2_Notes": "@variables('varRequestNotesBody')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "PatchItem"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Expire_Employer_Upload_Link": [
                      "Succeeded",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Get_items_(BGV_FormData)')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Compose_CandidateFolderLink": {
                  "type": "Compose",
                  "inputs": "@concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/PEV%20Records/Candidate%20Files/',encodeUriComponent(string(outputs('Update_item_-_of_BGV_Request')?['body/CandidateID'])),'/')",
                  "runAfter": {
                    "Condition_-_if_FormData_row_found": [
                      "Succeeded",
                      "Skipped"
                    ]
                  }
                },
                "Compose_ResponseCandidateName": {
                  "type": "Compose",
                  "inputs": "@coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName'],outputs('Update_item_-_of_BGV_Request')?['body/CandidateItemID_x003a__x0020_Ful/Value'],outputs('Update_item_-_of_BGV_Request')?['body/CandidateID'])",
                  "runAfter": {
                    "Compose_CandidateFolderLink": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_NotifyBodyHtml": {
                  "type": "Compose",
                  "inputs": "@trim(replace(replace(replace(replace(replace(replace(variables('varNotifyBody'),'\\r',''),'\\n','<br>'),decodeUriComponent('%0A'),'<br>'),'[\\\"',''),'\\\"]',''),'\\\",\\\"',', '))",
                  "runAfter": {
                    "Compose_ResponseCandidateName": [
                      "Succeeded"
                    ]
                  }
                },
                "Condition_-_Notifying_Teams": {
                  "actions": {
                    "Post_message_in_a_chat_or_channel": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "poster": "Flow bot",
                          "location": "Channel",
                          "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                          "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                          "body/messageBody": "<p class=\"editor-paragraph\">PEV Checks Cleared</p><br><p class=\"editor-paragraph\">Candidate: @{outputs('Compose_ResponseCandidateName')}</p><p class=\"editor-paragraph\">Candidate ID: @{outputs('Update_item_-_of_BGV_Request')?['body/CandidateID']}</p><p class=\"editor-paragraph\">Employer: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerName']}</p><p class=\"editor-paragraph\">Employer HR Email: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerHR_Email']}</p><p class=\"editor-paragraph\">Request ID: @{outputs('Update_item_-_of_BGV_Request')?['body/RequestID']}</p><br><p class=\"editor-paragraph\">Candidate Folder: <a href=\"@{outputs('Compose_CandidateFolderLink')}\">@{outputs('Compose_CandidateFolderLink')}</a></p><br><p class=\"editor-paragraph\">PEV checks are cleared. TAC form to be sent.</p>"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "connectionName": "shared_teams",
                          "operationId": "PostMessageToConversation"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Compose_NotifyBodyHtml": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "equals": [
                      "@empty(variables('varSeverity'))",
                      true
                    ]
                  },
                  "type": "If"
                },
                "Condition_-_Send_Email": {
                  "actions": {
                    "Send_an_email_-_High_Severity_(V2)": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "recruitment@dlresources.com.sg",
                          "emailMessage/Subject": "HIGH PEV FLAG - @{outputs('Update_item_-_of_BGV_Request')?['body/RequestID']}, @{outputs('Compose_ResponseCandidateName')}",
                          "emailMessage/Body": "<p class=\"editor-paragraph\">A High Severity PEV issue has been flagged. <br><br>Employer: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerName']}<br>Employer HR Email: @{outputs('Update_item_-_of_BGV_Request')?['body/EmployerHR_Email']}<br>Candidate Folder: <a href=\"@{outputs('Compose_CandidateFolderLink')}\">@{outputs('Compose_CandidateFolderLink')}</a><br><br>Severity: High<br><br>Details:<br>@{outputs('Compose_NotifyBodyHtml')}</p>",
                          "emailMessage/Importance": "Normal",
                          "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SharedMailboxSendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Condition_-_Notifying_Teams": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "equals": [
                      "disabled",
                      "enabled"
                    ]
                  },
                  "type": "If"
                },
                "Send_an_email_(V2)_1": {
                  "runAfter": {
                    "Condition_-_Send_Email": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "recruitment@dlresources.com.sg",
                      "emailMessage/Subject": "@concat('PEV Response Received - ',outputs('Update_item_-_of_BGV_Request')?['body/RequestID'],', ',outputs('Compose_ResponseCandidateName'),', Severity: ',if(empty(variables('varSeverity')),'',variables('varSeverity')))",
                      "emailMessage/Body": "@concat('<p class=\"editor-paragraph\">A PEV response has been received for ',outputs('Compose_ResponseCandidateName'),'.</p><br><p class=\"editor-paragraph\">Request ID: ',outputs('Update_item_-_of_BGV_Request')?['body/RequestID'],'<br>Employer: ',outputs('Update_item_-_of_BGV_Request')?['body/EmployerName'],'<br>Employer HR Email: ',outputs('Update_item_-_of_BGV_Request')?['body/EmployerHR_Email'],'<br>Verification Status: Responded<br>Severity: ',if(empty(variables('varSeverity')),'',variables('varSeverity')),'<br>Flagged Issues: ',if(empty(trim(variables('varOutcome'))),'None',if(startsWith(variables('varOutcome'),', '),substring(variables('varOutcome'),2,sub(length(variables('varOutcome')),2)),variables('varOutcome'))),'</p><br><p class=\"editor-paragraph\">Candidate Folder: <a href=\"',outputs('Compose_CandidateFolderLink'),'\">',outputs('Compose_CandidateFolderLink'),'</a></p><br><p class=\"editor-paragraph\">Details:<br>',outputs('Compose_NotifyBodyHtml'),'</p>',if(empty(variables('varSeverity')),'<br><p class=\"editor-paragraph\">PEV checks are cleared. TAC form to be sent.</p>','<br><p class=\"editor-paragraph\">For more detailed information, please refer to the report summary in the candidate folder. A Teams post with the report link will be sent when the report summary file is ready.</p>'))",
                      "emailMessage/Importance": "Normal",
                      "emailMessage/MailboxAddress": "recruitment@dlresources.com.sg"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SharedMailboxSendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_files_(Candidate_root_for_request_folder)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "folderPath": "@concat('/PEV Records/Candidate Files/', items('Apply_to_each')?['CandidateID'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetFileItems"
                    },
                    "authentication": "@parameters('')"
                  },
                  "runAfter": {
                    "Update_item_-_of_BGV_Request": [
                      "Succeeded"
                    ]
                  }
                },
                "Filter_array_-_Request_folder_for_unshare": {
                  "runAfter": {
                    "Get_files_(Candidate_root_for_request_folder)": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Get_files_(Candidate_root_for_request_folder)')?['value']",
                    "where": "@equals(item()?['{Name}'], items('Apply_to_each')?['RequestID'])"
                  }
                },
                "Condition_-_Expire_Employer_Upload_Link": {
                  "runAfter": {
                    "Filter_array_-_Request_folder_for_unshare": [
                      "Succeeded"
                    ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_array_-_Request_folder_for_unshare'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Stop_sharing_request_upload_folder": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                          "id": "@first(body('Filter_array_-_Request_folder_for_unshare'))?['ID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "UnshareItem"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "bd4fe130-8d4a-4091-a0ce-3cf66e441e09"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_-_Notify_Teams": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "message": "Failed"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Get_items')?['value'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "c5ae9f15-653b-4fb3-919a-82031eda2b1f"
          },
          "type": "If"
        },
        "Initialize_variable_-_Severity": {
          "runAfter": {
            "Get_items_(BGV_FormData)": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSeverity",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Outcome": {
          "runAfter": {
            "Initialize_variable_-_Severity": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varOutcome",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_variable_-_Notify_Teams": {
          "runAfter": {
            "Initialize_variable_-_Request_Notes_Body": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNotifyTeams",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_variable_-_Notify_Body": {
          "runAfter": {
            "Initialize_variable_-_Outcome": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNotifyBody",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Request_Notes_Body": {
          "runAfter": {
            "Initialize_variable_-_Notify_Body": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRequestNotesBody",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}