flows/power-automate/unpacked/Workflows/BGV_7_Generate_Report_Summary-FB5CF0E3-0916-F111-8341-002248582037.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedsharepointonline_96d5d"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr94d_sharedteams_4466d"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Minute",
            "interval": "10",
            "startTime": "2026-03-19T02:30:00Z"
          }
        }
      },
      "actions": {
        "Get_template_content_using_path": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "path": "/PEV Records/Templates/ReportSummary_Template.docx",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileContentByPath",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {}
        },
        "Compose_Template_Base64": {
          "type": "Compose",
          "inputs": "@base64(body('Get_template_content_using_path'))",
          "runAfter": {
            "Get_template_content_using_path": [
              "Succeeded"
            ]
          }
        },
        "Get_items_(Completed_Requests)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
              "table": "df824861-8e10-4a8c-ad88-f7cf1ef3ef26",
              "$top": 5000
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Compose_Template_Base64": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each_(Completed_Requests)": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items_(Completed_Requests)')?['body/value']",
          "actions": {
            "Condition_-_Ready_for_Report_Summary": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(items('Apply_to_each_(Completed_Requests)')?['ResponseReceivedAt'])",
                      false
                    ]
                  },
                  {
                    "equals": [
                      "@empty(items('Apply_to_each_(Completed_Requests)')?['RequestID'])",
                      false
                    ]
                  },
                  {
                    "contains": [
                      "@items('Apply_to_each_(Completed_Requests)')?['RequestID']",
                      "-EMP"
                    ]
                  }
                ]
              },
              "actions": {
                "Get_items_(BGV_FormData)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "f271b227-c654-4241-8968-054dc7f1d47c",
                      "$filter": "@concat('RequestID eq ''', string(items('Apply_to_each_(Completed_Requests)')?['RequestID']), '''')",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetItems",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Compose_CandidateFolderPath": {
                  "type": "Compose",
                  "inputs": "@concat('/PEV Records/Candidate Files/', items('Apply_to_each_(Completed_Requests)')?['CandidateID'])",
                  "runAfter": {
                    "Get_items_(BGV_FormData)": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportFileName": {
                  "type": "Compose",
                  "inputs": "@concat('RS_Emp', replace(last(split(items('Apply_to_each_(Completed_Requests)')?['RequestID'], '-')), 'EMP', ''), '.docx')",
                  "runAfter": {
                    "Compose_CandidateFolderPath": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportFileWebLink": {
                  "type": "Compose",
                  "inputs": "@concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570',replace(outputs('Compose_CandidateFolderPath'),' ','%20'),'/',replace(outputs('Compose_ReportFileName'),' ','%20'))",
                  "runAfter": {
                    "Compose_ReportFileName": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportSeverityText": {
                  "type": "Compose",
                  "inputs": "@trim(string(coalesce(items('Apply_to_each_(Completed_Requests)')?['Severity']?['Value'],items('Apply_to_each_(Completed_Requests)')?['Severity'],'')))",
                  "runAfter": {
                    "Compose_ReportFileWebLink": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportFlaggedIssues": {
                  "type": "Compose",
                  "inputs": "@if(empty(trim(string(coalesce(items('Apply_to_each_(Completed_Requests)')?['Outcome']?['Value'],items('Apply_to_each_(Completed_Requests)')?['Outcome'],'')))),'None',trim(string(coalesce(items('Apply_to_each_(Completed_Requests)')?['Outcome']?['Value'],items('Apply_to_each_(Completed_Requests)')?['Outcome'],''))))",
                  "runAfter": {
                    "Compose_ReportSeverityText": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportDetailsHtml": {
                  "type": "Compose",
                  "inputs": "@trim(replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_Notes'],items('Apply_to_each_(Completed_Requests)')?['Notes'],'')),'\\r',''),'\\n','<br>'),decodeUriComponent('%0A'),'<br>'))",
                  "runAfter": {
                    "Compose_ReportFlaggedIssues": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportFlaggedIssuesJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(outputs('Compose_ReportFlaggedIssues')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportDetailsHtml": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportNotesJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_Notes'],items('Apply_to_each_(Completed_Requests)')?['Notes'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportFlaggedIssuesJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportRequestIdJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(items('Apply_to_each_(Completed_Requests)')?['RequestID'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportNotesJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportCompanyNameJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerName'],items('Apply_to_each_(Completed_Requests)')?['EmployerName'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportRequestIdJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportCompanyUenJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerUEN'],items('Apply_to_each_(Completed_Requests)')?['EmployerUEN'],items('Apply_to_each_(Completed_Requests)')?['Employer_UEN'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportCompanyNameJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportCompanyAddressJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmployerAddress'],items('Apply_to_each_(Completed_Requests)')?['EmployerAddress'],items('Apply_to_each_(Completed_Requests)')?['Employer_Address'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportCompanyUenJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportEmploymentPeriodJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(if(and(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),'',if(or(empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate']),empty(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'])),formatDateTime(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate']),'yyyy-MM-dd'),concat(formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentStartDate'],'yyyy-MM-dd'),' to ',formatDateTime(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_EmploymentEndDate'],'yyyy-MM-dd'))))),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportCompanyAddressJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_Form1ReasonForLeavingJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_ReasonForLeaving'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportEmploymentPeriodJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportLastDrawnSalaryJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_LastDrawnSalary'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_Form1ReasonForLeavingJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportJobTitleJsonSafe": {
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(string(coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_JobTitle'],'')),'\"','\\\\\"'),decodeUriComponent('%0D'),' '),decodeUriComponent('%0A'),' ')",
                  "runAfter": {
                    "Compose_ReportLastDrawnSalaryJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportCompanyAccuracyText": {
                  "type": "Compose",
                  "inputs": "@if(equals(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_CompanyDetailsAccurate'],true),'Yes',if(equals(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_CompanyDetailsAccurate'],false),'No',if(or(contains(outputs('Compose_ReportFlaggedIssues'),'Company Name'),contains(outputs('Compose_ReportFlaggedIssues'),'Company UEN'),contains(outputs('Compose_ReportFlaggedIssues'),'Company Address'),contains(outputs('Compose_ReportFlaggedIssues'),'Company Details')),'No','')))",
                  "runAfter": {
                    "Compose_ReportJobTitleJsonSafe": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportInformationAccuracyText": {
                  "type": "Compose",
                  "inputs": "@if(equals(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_InformationAccurate'],true),'Yes',if(equals(first(body('Get_items_(BGV_FormData)')?['value'])?['F2_InformationAccurate'],false),'No',if(or(contains(outputs('Compose_ReportFlaggedIssues'),'Employment Period'),contains(outputs('Compose_ReportFlaggedIssues'),'Last Position Held'),contains(outputs('Compose_ReportFlaggedIssues'),'Job Title/Position'),contains(outputs('Compose_ReportFlaggedIssues'),'Remuneration Package'),contains(outputs('Compose_ReportFlaggedIssues'),'Other abnormalities')),'No','')))",
                  "runAfter": {
                    "Compose_ReportCompanyAccuracyText": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_IsAdverseSeverity": {
                  "type": "Compose",
                  "inputs": "@or(equals(toLower(outputs('Compose_ReportSeverityText')),'low'),equals(toLower(outputs('Compose_ReportSeverityText')),'medium'),equals(toLower(outputs('Compose_ReportSeverityText')),'high'))",
                  "runAfter": {
                    "Compose_ReportInformationAccuracyText": [
                      "Succeeded"
                    ]
                  }
                },
                "Condition_-_Report_Summary_Post_Not_Already_Sent_v2": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(items('Apply_to_each_(Completed_Requests)')?['Report_x0020_Summary_x0020_Teams'])",
                          true
                        ]
                      },
                      {
                        "equals": [
                          "@empty(first(body('Get_items_(BGV_FormData)')?['value'])?['Report_x0020_Summary_x0020_Teams'])",
                          true
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Compose_IsAdverseSeverity')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Post_message_in_a_chat_or_channel_-_Report_Summary_Created": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "poster": "Flow bot",
                          "location": "Channel",
                          "body/recipient/groupId": "4475a565-7f2b-4df1-91cd-c8e3df8f805a",
                          "body/recipient/channelId": "19:01523cb936ce49fca3e80d2ee293da6a@thread.tacv2",
                          "body/messageBody": "<p class=\"editor-paragraph\">PEV Report Summary Created</p><br><p class=\"editor-paragraph\">Candidate ID: @{items('Apply_to_each_(Completed_Requests)')?['CandidateID']}</p><p class=\"editor-paragraph\">Candidate Name: @{coalesce(first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName'],items('Apply_to_each_(Completed_Requests)')?['CandidateItemID_x003a__x0020_Ful/Value'],'')}</p><p class=\"editor-paragraph\">Request ID: @{items('Apply_to_each_(Completed_Requests)')?['RequestID']}</p><p class=\"editor-paragraph\">Severity: @{outputs('Compose_ReportSeverityText')}</p><p class=\"editor-paragraph\">Flagged Issues: @{outputs('Compose_ReportFlaggedIssues')}</p><p class=\"editor-paragraph\">Candidate Folder: <a href=\"@{concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/PEV%20Records/Candidate%20Files/', encodeUriComponent(string(items('Apply_to_each_(Completed_Requests)')?['CandidateID'])), '/')}\">@{concat('https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570/PEV%20Records/Candidate%20Files/', encodeUriComponent(string(items('Apply_to_each_(Completed_Requests)')?['CandidateID'])), '/')}</a></p><p class=\"editor-paragraph\">Report Link: <a href=\"@{outputs('Compose_ReportFileWebLink')}\">@{outputs('Compose_ReportFileWebLink')}</a></p><br><p class=\"editor-paragraph\">Details:<br>@{outputs('Compose_ReportDetailsHtml')}</p>"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "operationId": "PostMessageToConversation",
                          "connectionName": "shared_teams"
                        }
                      }
                    },
                    "Update_item_-_BGV_Requests_-_Report_Summary_PostedAt": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "df824861-8e10-4a8c-ad88-f7cf1ef3ef26",
                          "id": "@items('Apply_to_each_(Completed_Requests)')?['ID']",
                          "item/Title": "@items('Apply_to_each_(Completed_Requests)')?['Title']",
                          "item/Report_x0020_Summary_x0020_Teams": "@utcNow()"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "Post_message_in_a_chat_or_channel_-_Report_Summary_Created": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Update_item_-_BGV_FormData_-_Report_Summary_PostedAt": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                          "table": "f271b227-c654-4241-8968-054dc7f1d47c",
                          "id": "@first(body('Get_items_(BGV_FormData)')?['value'])?['ID']",
                          "item/Title": "@first(body('Get_items_(BGV_FormData)')?['value'])?['Title']",
                          "item/Report_x0020_Summary_x0020_Teams": "@utcNow()"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PatchItem",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "Update_item_-_BGV_Requests_-_Report_Summary_PostedAt": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Compose_Report_Save_Complete_v2": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_ReportForm2RawJson": {
                  "type": "Compose",
                  "inputs": "@if(\n  empty(first(body('Get_items_(BGV_FormData)')?['value'])?['Form2RawJson']),\n  '{}',\n  string(first(body('Get_items_(BGV_FormData)')?['value'])?['Form2RawJson'])\n)",
                  "runAfter": {
                    "Compose_IsAdverseSeverity": [
                      "Succeeded"
                    ]
                  }
                },
                "HTTP_-_Fill_Report_Summary_Controls": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://bgv-docx-parser-cshnd7aucchwfmfz.southeastasia-01.azurewebsites.net/api/fillreportsummarycontrols",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "fileName": "@{outputs('Compose_ReportFileName')}",
                      "docxBase64": "@{outputs('Compose_Template_Base64')}",
                      "form1RawJson": "@{first(body('Get_items_(BGV_FormData)')?['value'])?['Form1RawJson']}",
                      "form2RawJson": "@{outputs('Compose_ReportForm2RawJson')}",
                      "form1CandidateFullName": "@{first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateFullName']}",
                      "form1CandidateEmail": "@{first(body('Get_items_(BGV_FormData)')?['value'])?['F1_CandidateEmail']}",
                      "form1IdentificationNumberNRIC": "@{first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberNRIC']}",
                      "form1IdentificationNumberPassport": "@{first(body('Get_items_(BGV_FormData)')?['value'])?['F1_IDNumberPassport']}"
                    }
                  },
                  "runAfter": {
                    "Compose_ReportForm2RawJson": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Get_files_(Candidate_Folder_for_Report_v2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "table": "30d02a3a-74da-4a16-a887-7b8dd043a547",
                      "folderPath": "@outputs('Compose_CandidateFolderPath')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileItems",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "HTTP_-_Fill_Report_Summary_Controls": [
                      "Succeeded"
                    ]
                  }
                },
                "Filter_array_-_Existing_Report_v2": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Get_files_(Candidate_Folder_for_Report_v2)')?['value']",
                    "where": "@equals(item()?['{FilenameWithExtension}'],outputs('Compose_ReportFileName'))"
                  },
                  "runAfter": {
                    "Get_files_(Candidate_Folder_for_Report_v2)": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_report_summary_file_v2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "id": "@first(body('Filter_array_-_Existing_Report_v2'))?['{Identifier}']",
                      "body": "@base64ToBinary(body('HTTP_-_Fill_Report_Summary_Controls')?['filledDocxBase64'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "UpdateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Filter_array_-_Existing_Report_v2": [
                      "Succeeded"
                    ]
                  }
                },
                "Create_report_summary_file_v2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://dlresourcespl88.sharepoint.com/sites/DLRRecruitmentOps570",
                      "folderPath": "@outputs('Compose_CandidateFolderPath')",
                      "name": "@outputs('Compose_ReportFileName')",
                      "body": "@base64ToBinary(body('HTTP_-_Fill_Report_Summary_Controls')?['filledDocxBase64'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "CreateFile",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  },
                  "runAfter": {
                    "Update_report_summary_file_v2": [
                      "Failed"
                    ]
                  }
                },
                "Compose_Report_Save_Complete_v2": {
                  "type": "Compose",
                  "inputs": "saved",
                  "runAfter": {
                    "Update_report_summary_file_v2": [
                      "Succeeded",
                      "Failed"
                    ],
                    "Create_report_summary_file_v2": [
                      "Succeeded",
                      "Skipped"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "runAfter": {
            "Get_items_(Completed_Requests)": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}